#password {
    -webkit-text-security: disc;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(135deg, #df7373 25%, transparent 25%),
        linear-gradient(225deg, #3498db 25%, transparent 25%),
        linear-gradient(45deg, #3498db 25%, transparent 25%),
        linear-gradient(315deg, #df7373 25%, #ffffff 25%);
    background-position: 0 0, 0 0, 0 0, 0 0;
    background-size: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 420px;
    width: 100%;
    text-align: center;
}

.login-header h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.login-header h2 {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #777;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background: #f9f9f9;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #007BFF;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: #0056b3;
}

.login-footer {
    margin-top: 20px;
}

.login-footer p {
    font-size: 14px;
    color: #777;
}