{% extends 'componentes/menu_global_security.html' %}
{% load static %}

{% block title %}
LISTADO DE MENUS
{% endblock %}

{% block body %}



<div class="container-fluid mt-1">
  <div class="card shadow-lg card-expanded">

    <!-- Encabezado con título y menú de selección -->
    <div class="row align-items-center justify-content-between">
      <div class="row align-items-center">
        <div class="col d-flex align-items-center">
          <button id="toggle-sidebar" class="me-3" title="Mostrar/Ocultar Menu"></button>
          <i class="material-icons d-block">person</i>
          <h4 class="page-title mb-0">LISTADO DE MENUS</h4>
        </div>

        <div class="col-auto d-flex">
          <div class="d-flex flex-row align-items-center me-3">
            <label for="selectModulo" class="form-label mb-0 me-2">MODULOS</label>
            <select id="selectModulo" class="form-select form-select-sm w-auto mt-2" name="selectModulo">
              {% for m in modulos %}
              <option value="{{ m.PKmodulo }}">{{ m.Nombre }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- Contenido de la tabla de Menús -->
    <div class="row mt-1">
      <div class="row mt-1 justify-content-center">
        <div class="col-12 col-md-9">

          <div class="table-responsive mt-1 shadow bg-blanco" style="display: flex; flex-direction: column;">
            <button id="btnAgregarMenu" class="btn btn-custom mb-2" title="Agregar Menu">
              <i class="fa fa-user-plus"></i>
            </button>
            <table id="tableListadoMenus"
              class="table table-striped table-bordered mb-0 table-sm rounded-4 table-hover align-middle">
              <thead class="bg-blanco text-dark">
                <tr>
                  <th>Boton</th>
                  <th>Nombre</th>
                  <th>Pagina</th>
                  <th>Grupo</th>
                  <th>Posicion</th>
                  <th>Estado</th>
                  <th>Gestiones</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<a href="{% url 'global_main' %}">
  <button class="btn btn-sm btn-danger" id="btnCerrar" title="Cerrar"
    style="position: fixed; bottom: 20px; right: 20px;">
    <i class="fa fa-times"></i> Cerrar
  </button>
</a>

{% include 'menus/modales_menu/m_listado_menu_editar_menu.html' %}
{% include 'menus/modales_menu/m_listado_menu_agregar_menu.html' %}

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    var csrfToken = "{{ csrf_token }}";
    var selectedGrupoId = null, id_modulo = null;


    $('#btnAgregarMenu').on('click', function () {
      $('#modalAgregarMenu').modal('show');
    });
    var toastMixin = Swal.mixin({
      toast: true,
      icon: 'success',
      title: 'General Title',
      animation: false,
      position: 'top-right',
      showConfirmButton: false,
      timer: 2000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer);
        toast.addEventListener('mouseleave', Swal.resumeTimer);
      }
    });
    /* MENU ID Y SUBMENU ID */
    $('#usuariosMenu, #gruposUsuario_submenu').addClass('active');

    $('#selectModulo').change(function () {
      id_modulo = $(this).val();
      getMenus();
    });

    id_modulo = $("#selectModulo").val();
    getMenus()


    function getMenus() {

      $("#tableListadoMenus").DataTable().clear().destroy();
      var cardHeight = $(".card-expanded").height();
      var tableHeight = cardHeight * 0.5;

      tableListadoMenus = $('#tableListadoMenus').DataTable({
        autoWidth: false,
        scrollX: true,
        scrollY: tableHeight + 'px',
        scrollCollapse: true,
        pageLength: 50,
        dom: 'rftip',
        language: {
          url: "{% static 'app/th/json/es-ES.json' %}",
        },
        ajax: {
          url: `{% url 'obtener_menus_data' %}`,
          type: "POST",
          dataSrc: 'data',
          data: {
            csrfmiddlewaretoken: csrfToken,
            modulo_id: id_modulo
          },
        },
        colReorder: {
          realtime: false,
        },
        buttons: [
          {
            extend: 'excel',
            text: '<i class="fas fa-file-excel"></i>',
            titleAttr: 'Exportar a Excel',
            className: 'btn btn-success',
          },
          {
            extend: 'pdf',
            text: '<i class="fas fa-file-pdf"></i>',
            titleAttr: 'Exportar a PDF',
            className: 'btn btn-danger',
          },
          {
            extend: 'print',
            text: '<i class="fas fa-print"></i>',
            titleAttr: 'Imprimir',
            className: 'btn btn-primary',
            orientation: 'landscape'
          }
        ],
        columns: [
          { data: 'Boton' },
          { data: 'Nombre' },
          { data: 'Pagina' },
          { data: 'Grupo' },
          { data: 'Posicion' },
          {
            data: 'Estado',
            render: function (data) {
              return data == 1 ? 'VERIFICADO' : 'INVALIDO';
            }
          },
          {
            data: null,
            orderable: false,
            render: function (data, type, row) {
              let estadoUsuario = row.Estado == 1 ? 'VERIFICADO' : 'INVALIDO';
              let botonEstado = estadoUsuario === 'VERIFICADO'
                ? '<button title="Invalidar Menu" class="btn btn-sm btn-danger btn-estado me-1">' +
                '<i class="fa fa-ban"></i> Invalidar' +
                '</button>'
                : '<button title="Verificar Menu" class="btn btn-sm btn-success btn-estado me-1">' +
                '<i class="fa fa-check"></i> Verificar' +
                '</button>';

              return '<button title="Editar Menu" class="btn btn-sm btn-custom me-1">' +
                '<i class="fa fa-edit"></i>' +
                '</button>' +
                botonEstado +
                '<button title="Eliminar Menu" class="btn btn-sm btn-danger me-1">' +
                '<i class="fa fa-trash"></i>' +
                '</button>';
            }
          },
        ]
      });
    }

    $('#tableListadoMenus tbody').on('click', 'tr', function () {
      $('#tableListadoMenus tbody tr').removeClass('selected');
      $(this).addClass('selected');
      selectedGrupoId = tableListadoMenus.row(this).data().PKMenu;
    });

    // Delegación de eventos para los botones de la tabla
    $('#tableListadoMenus tbody').on('click', 'button', function () {
      var action = $(this).attr('title');
      var data = tableListadoMenus.row($(this).parents('tr')).data();
      if (action === "Editar Menu") {
        $('#Nombre').val(data.Nombre);
        $('#Boton').val(data.Boton);
        $('#Pagina').val(data.Pagina);
        $('#Grupo').val(data.Grupo);
        $('#Posicion').val(data.Posicion);
        $('#modalEditarMenu').data('menu', data);
        $('#modalEditarMenu').modal('show');
      } else if (action === "Eliminar Menu") {
        var data = tableListadoMenus.row($(this).parents('tr')).data();
        var Nombre = data.Nombre;
        var MenuID = data.PKMenu;
        Swal.fire({
          title: `¿Deseas eliminar a este menu?`,
          text: `El menu ${Nombre}, será ELIMINADO`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: `Sí, Eliminar`
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              url: `{% url 'delete_menu' %}`,
              type: 'POST',
              data: {
                menu_id: MenuID,
                csrfmiddlewaretoken: "{{ csrf_token }}"
              },
              success: function (response) {
                Swal.fire('Éxito', `El MENU ha sido ELIMINADO correctamente`, 'success');
                getMenus(); // Recargar la tabla después del cambio
              },
              error: function (xhr, status, error) {
                Swal.fire('Error', `No se pudo ELIMINAR el MENU`, 'error');
              }
            });
          }
        });
      } else if (action === "Verificar Menu" || action === "Invalidar Menu") {
        var data = tableListadoMenus.row($(this).parents('tr')).data();
        var nuevoEstado = data.Estado === 1 ? 0 : 1;
        var accionTexto = nuevoEstado === 1 ? 'verificar' : 'invalidar';
        var accionTexto2 = nuevoEstado === 1 ? 'verificado' : 'invalidado';
        Swal.fire({
          title: `¿Deseas ${accionTexto} a este MENU?`,
          text: `El MENU será ${accionTexto === 'verificar' ? 'verificado' : 'invalidado'}`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: `Sí, ${accionTexto}`
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              url: `{% url 'update_estado_menu' %}`,
              type: 'POST',
              data: {
                menu_id: data.PKMenu,
                estado: nuevoEstado,
                csrfmiddlewaretoken: "{{ csrf_token }}"
              },
              success: function (response) {
                Swal.fire('Éxito', `El MENU ha sido ${accionTexto2} correctamente`, 'success');
                getMenus(); // Recargar la tabla después del cambio
              },
              error: function (xhr, status, error) {
                Swal.fire('Error', `No se pudo ${accionTexto} el MENU`, 'error');
              }
            });
          }
        });
      }
    });


    $('#guardarMenuEditado').on('click', function () {
      var Nombre = $('#Nombre').val().trim();
      var Boton = $('#Boton').val().trim();
      var Pagina = $('#Pagina').val().trim();
      var Grupo = $('#Grupo').val().trim();
      var Posicion = $('#Posicion').val().trim();
      if (!Nombre || !Boton || !Pagina || !Grupo || !Posicion) {
        Swal.fire('Error', 'Todos los campos son obligatorios', 'error');
        return;
      }

      var menu = $('#modalEditarMenu').data('menu');

      $.ajax({
        url: `{% url 'update_menu' %}`,
        type: 'POST',
        data: {
          menu_id: menu.PKMenu,
          nombre: Nombre,
          boton: Boton,
          pagina: Pagina,
          grupo: Grupo,
          posicion: Posicion,
          modulo_id: id_modulo,

          csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function (response) {
          Swal.fire('Éxito', 'El menu ha sido actualizado correctamente', 'success');
          $('#modalEditarMenu').modal('hide');
          getMenus();
        },
        error: function (xhr, status, error) {
          Swal.fire('Error', 'No se pudo actualizar el menu', 'error');
        },
        complete: function () {
          $('#modalEditarMenu').modal('hide');
        }

      });

    });


    //SE AGREGO CONSULTA PARA ESTE INSERT , NO HABIA SP
    $('#guardarNuevoMenu').on('click', function () {
      var NombreAdd = $('#NombreAdd').val().trim();
      var BotonAdd = $('#BotonAdd').val().trim();
      var PaginaAdd = $('#PaginaAdd').val().trim();
      var GrupoAdd = $('#GrupoAdd').val().trim();
      var PosicionAdd = $('#PosicionAdd').val().trim();
      if (!NombreAdd || !BotonAdd || !PaginaAdd || !GrupoAdd || !PosicionAdd) {
        Swal.fire('Error', 'Todos los campos son obligatorios', 'error');
        return;
      }


      $.ajax({
        url: `{% url 'insert_menu' %}`,
        type: 'POST',
        data: {
          nombre: NombreAdd,
          boton: BotonAdd,
          pagina: PaginaAdd,
          grupo: GrupoAdd,
          posicion: PosicionAdd,
          modulo_id: id_modulo,
          csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function (response) {
          Swal.fire('Éxito', 'Menu agregado correctamente', 'success');
          $('#modalAgregarMenu').modal('hide');
          getMenus();
        },
        error: function (xhr, status, error) {
          Swal.fire('Error', 'No se pudo agregar el menu', 'error');
        }
      });
    });
  });
</script>
{% endblock %}