{% extends 'componentes/menu_contable.html' %}
{% load static %}

{% block title %}
CUENTAS DE GASTOS
{% endblock %}


{% block body %}

<div class="row align-items-center">
    <div class="col d-flex align-items-center">
        <button id="toggle-sidebar" class="hamburger btnMenu me-3" title="Mostrar/Ocultar Menu">
            <i class="fas fa-bars"></i>
        </button>
        <h3 class="page-title mb-0">CUENTAS DE GASTOS</h3>
    </div>

    <div class="col-auto text-end float-end ms-auto download-grp">
        <button class="btn btn-sm btn-success" id="btnNuevo" title="Crear Nuevo"><i class="fas fa-plus me-2"></i>
            Nuevo</button>
    </div>
</div>

<hr>

<div class="row">

    <div class="col-lg-4">
        <label for="">Empresa:</label>
        <select id="selectEmpresa" class="form-select form-select-sm" name="selectEmpresa">
            {% for e in empresasData %}
            <option value="{{ e.id }}">{{ e.nombre }}</option>
            {% endfor %}
        </select>
    </div>

</div>

<br>

<div class="row">
    <div class="table-responsive">
        <table id="tableCuentasGastos"
            class="table table-striped table-bordered mb-0 table-sm rounded-4 table-hover align-middle"
            style="width: 100%;">
            <thead class="table-gradient text-dark">
                <tr>
                    <th>Nombre Cuenta</th>
                    <th>Codigo Cuenta</th>
                    <th>Es Padre</th>
                    <th>Empresa</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>
    </div>
</div>

{% include 'catalogos/modales_catalogos/m_cuentas_gastos.html' %}

{% endblock %}



{% block scripts %}

<script>
    $(document).ready(function () {
        var csrfToken = "{{ csrf_token }}";

        var cuenta_id, opcion, tableCuentasGastos;

        var toastMixin = Swal.mixin({
            toast: true,
            icon: 'success',
            title: 'General Title',
            animation: false,
            position: 'top-right',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
        });

        /* MENU ID Y SUBMENU ID */
        $('#catalogosMenu, #cuentasGastos_submenu').addClass('active');


        $('#btnNuevo').click(function (e) {
            e.preventDefault();

            $('#formCuentasGastos').trigger('reset');
            $('#modalCuentasGastosLabel').text('CREAR NUEVA CUENTA GASTO');
            $('#modalCuentasGastos').modal('show');

            opcion = 1;
            cuenta_id = null;
        });

        $('#selectEmpresa').change(function (e) {
            e.preventDefault();

            getCuentasEmpresaTipo($(this).val());
        });
        
        getCuentasEmpresaTipo(2);

        function getCuentasEmpresaTipo(empresa) {

            $("#tableCuentasGastos").DataTable().clear().destroy();

            tableCuentasGastos = $('#tableCuentasGastos').DataTable({
                autoWidth: false,
                scrollX: true,
                scrollY: '350px',
                scrollCollapse: true,
                pageLength: 50,
                dom: 'rftip',
                language: {
                    url: "{% static 'app/th/json/es-ES.json' %}",
                },
                ajax: {
                    url: `{% url 'dataCuentasGastos' %}`,
                    type: "POST",
                    dataScr: 'data',
                    data: {
                        empresa: empresa,
                        opcion: 0,
                        csrfmiddlewaretoken: csrfToken
                    },
                },
                colReorder: {
                    realtime: false,
                },
                buttons: [
                    {
                        extend: 'excel',
                        text: '<i class="fas fa-file-excel"></i>',
                        titleAttr: 'Exportar a Excel',
                        className: 'btn btn-success',
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fas fa-file-pdf"></i>',
                        titleAttr: 'Exportar a PDF',
                        className: 'btn btn-danger',
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i>',
                        titleAttr: 'Imprimir',
                        className: 'btn btn-primary',
                        orientation: 'landscape'
                    }
                ],
                columns: [
                    {
                        data: 'nombre',
                    },
                    {
                        data: 'codigo'
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return `
                            <input type="checkbox" class="asociar-padre" data-id="${row.id_cuenta}" ${row.es_cuenta_padre === 1 ? 'checked' : ''}>
                        `;
                        },
                        "orderable": false,
                        "className": "text-center"
                    },
                    {
                        data: 'empresa',
                        className: 'text-wrap'
                    },
                    {
                        data: 'estado',
                        className: 'text-center',
                        render: function (data, type, row) {
                            var badge = "";
                            if (data == 3) {
                                badge +=
                                    '<span class="badge badge-pill bg-danger">DESHABILITADO</span>';
                            } else {
                                badge +=
                                    '<span class="badge badge-pill bg-success">ACTIVO</span>';
                            }

                            return badge;
                        },
                    },
                    {
                        data: null,
                        width: '3%',
                        title: "Acciones",
                        render: function (data, type, row) {
                            return `
                            <div class="text-center">
                                <div class="btn-group">
                                    
                                    <button class="btn btn-warning btn-sm editarCuenta" data-id="${row.id_cuenta}" data-empresa="${row.id_empresa}">
                                        <i class="fas fa-edit"></i>
                                    </button> 
                                    <button class="btn btn-danger btn-sm statusCuenta" data-id="${row.id_cuenta}">
                                        <i class="fas fa-sync-alt"></i>
                                    </button> 
                                
                                </div>
                            </div>
                            `;
                        }
                    }
                ],
                order: [[1, "asc"]],
            });

        }



        $(document).on('click', '.editarCuenta', function () {
            $('#formCuentasGastos').trigger('reset');

            opcion = 2;
            filaCuenta = $(this).closest('tr');
            cuenta_id = $(this).data('id');
            empresa = $(this).data('empresa');

            nombre = filaCuenta.find("td:eq(0)").text();
            codigo = filaCuenta.find("td:eq(1)").text();

            checkboxEstado = filaCuenta.find(".asociar-padre").prop('checked');

            $('#isCuentaPadre').prop('checked', checkboxEstado);

            $('#cuenta_nombre').val(nombre);
            $('#cuenta_codigo').val(codigo);
            $('#cuenta_empresa').val(empresa).change();

            $('#modalCuentasGastosLabel').text('EDITAR CUENTA ' + nombre);
            $('#modalCuentasGastos').modal('show');
        });



        $(document).on('change', '.asociar-padre', function () {
            idCuenta = $(this).data('id');
            es_padre = $(this).is(':checked') ? 1 : 0;

            $.ajax({
                url: "{% url 'conta_update_es_padre_cuentas_gastos' %}", // Cambia esto a tu endpoint Django
                type: "POST",
                data: {
                    cuenta_id: idCuenta,
                    es_padre: es_padre,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (data) {
                    if (data.save == 1) {
                        if (es_padre == 1) {
                            toastMixin.fire({
                                animation: true,
                                title: 'Cuenta Padre Marcada!'
                            });
                        } else {
                            toastMixin.fire({
                                animation: true,
                                title: 'Cuenta Padre Desmarcada!'
                            });
                        }
                        tableCuentasGastos.ajax.reload(null, false);
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'No se pudo realizar la accion!'
                        });
                    }
                }
            });

        });


        $(document).on('click', '.statusCuenta', function () {
            filaCuenta = $(this).closest('tr');

            cuenta_id = $(this).data('id');

            $.ajax({
                url: "{% url 'update_status_cuentas_gastos' %}",
                type: "POST",
                data: {
                    cuenta_id: cuenta_id,
                    csrfmiddlewaretoken: csrfToken
                },
                success: function (data) {
                    if (data.save == 1) {
                        toastMixin.fire({
                            animation: true,
                            title: 'Estado de Cuenta Actualizado!'
                        });
                        tableCuentasGastos.ajax.reload(null, false);
                    } else {
                        Swal.fire("", "Error D: " + data.error, "error");
                    }
                }
            });

        });


        $('#formCuentasGastos').submit(function (e) {
            e.preventDefault();

            nombre = $('#cuenta_nombre').val();
            codigo = $('#cuenta_codigo').val();
            padre = $('#isCuentaPadre').is(':checked') ? 1 : 0;
            empresa = $('#selectEmpresa').val();
            //              empresa = $('#cuenta_empresa').val();


            $.ajax({
                url: "{% url 'insert_update_cuentas_gastos' %}",
                type: "POST",
                data: {
                    cuenta_id: cuenta_id,
                    nombre: nombre,
                    codigo: codigo,
                    padre: padre,
                    empresa: empresa,
                    opcion: opcion,
                    csrfmiddlewaretoken: csrfToken
                },
                success: function (data) {
                    if (data.save == 1) {
                        if (opcion == 1) {
                            if (data.existe == 0) {
                                $('#modalCuentasGastos').modal('hide');

                                toastMixin.fire({
                                    animation: true,
                                    title: 'Cuenta Creada!'
                                });
                            } else {
                                Swal.fire("", "Ya existe una Cuenta de Gasto con este nombre!", "warning");
                            }
                        } else {
                            $('#modalCuentasGastos').modal('hide');

                            toastMixin.fire({
                                animation: true,
                                title: 'Cuenta de Gasto Editada!'
                            });
                        }

                        tableCuentasGastos.ajax.reload(null, false);
                    } else {
                        Swal.fire("", "Error D: " + data.error, "error");
                    }
                }
            });


        });













        /*  */
    });
</script>
{% endblock %}