<div class="modal fade" id="modalSeleccionCuenta" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white py-2">
                <h5 class="modal-title">Seleccionar Cuenta Contable</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="tablaCuentas" class="table table-sm table-hover table-bordered w-100">
                    <thead class="table-light">
                        <tr>
                            <th>Código</th>
                            <th>Nombre Cuenta</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>