{% extends 'menu_control_suministros.html' %}
{% load static %}

{% block title %}
GESTION DE DEVOLUCIONES
{% endblock %}


{% block body %}

<div class="row align-items-center">
    <div class="col d-flex align-items-center">
        <button id="toggle-sidebar" class="hamburger btnMenu me-3" title="Mostrar/Ocultar Menu">
            <i class="fas fa-bars"></i>
        </button>
        <h3 class="page-title mb-0">
            <i class="fas fa-undo"></i> <strong>LISTADO DE DEVOLUCIONES</strong>
        </h3>
    </div>

    <!-- <div class="col-auto text-end float-end ms-auto download-grp">
        <button class="btn btn-sm btn-success" style="background-color: #209624; text-align: justify;" id="btnNuevo"
            title="Crear Nuevo"><i class="fas fa-plus me-2"></i>
            <strong>Nuevo Suministro</strong></button>
    </div> -->
</div>

<hr>

<br>

<div class="row mb-3">
    <div class="col-auto">
        <label for="Filtro" class="form-label"><strong>Filtrar por Estado</strong></label>
        <select id="Filtro" class="form-select" aria-label="Filtrar por Estado">
            <option value="0">Todo el listado</option>
            <option value="1">Listado de Devoluciones Activas</option>
            <option value="3">Listado de Devoluciones Deshabilitadas</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="table-responsive bg-white shadow rounded-4 p-3">
        <table id="Tabla_Devoluciones"
            class="table table-hover table-bordered table-striped table-sm align-middle mb-0 rounded-4"
            style="width: 100%; border-collapse: collapse; border-radius: 10px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);">
            <thead class="text-white text-center rounded-4" style="background-color: #697a8a; text-align: justify;">
                <tr>
                    <th style="border-radius: 10px 0 0 0;">No.</th>
                    <th class="text-center">Adquisición No.</th>
                    <th class="text-center">Detalle No.</th>
                    <th class="text-center">Suministro</th>
                    <th class="text-center">Cantidad Devuelta</th>
                    <th class="text-center">Precio Unitario</th>
                    <th class="text-center">Fecha de Devolución</th>
                    <th class="text-center">Motivo</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Acreedor</th>
                    <th class="text-center">Total en Devolución</th>
                    <th class="text-center">Estado</th>
                    <th style="border-radius: 10px 0 0 0;">Acciones</th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>
    </div>
</div>

{% include 'Modales_S/agregar_devolucion.html' %}
{% endblock %}


{% block scripts %}

<script>
    $(document).ready(function () {
        var csrfToken = "{{ csrf_token }}";
        var cambiar_estado_actual = 0;
        // var opcion = "{{ prueba }}";

        var toastMixin = Swal.mixin({
            toast: true,
            icon: 'success',
            title: 'General Title',
            animation: false,
            position: 'top-right',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
        });

        $('#menu_gestion_devoluciones, #listar_devolucion_submenu').addClass('active');


        select_estado_devolucion = 0;
        id_motivo_devolucion_seleccionado = null;

        id_devolucion = null

        fillDevoluciones()

        function fillDevoluciones() {

            $("#Tabla_Devoluciones").DataTable().clear().destroy();

            Tabla_Devoluciones = $("#Tabla_Devoluciones").DataTable({
                autoWidth: false,
                scrollX: true,
                scrollY: '350px',
                scrollCollapse: true,
                pageLength: 30,
                dom: 'Brftip',
                language: {
                    url: "{% static 'app/th/json/es-ES.json' %}",
                },
                ajax: {
                    url: `{% url 'get_devoluciones_data' %}`,
                    type: "POST",
                    dataScr: 'data',
                    data: {
                        varEstado: select_estado_devolucion,
                        csrfmiddlewaretoken: csrfToken
                    },
                },
                colReorder: {
                    realtime: false,
                },
                buttons: [
                    {
                        extend: 'excel',
                        text: '<i class="fas fa-file-excel"></i>',
                        titleAttr: 'Excel',
                        className: 'btn btn-success',
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fas fa-file-pdf"></i>',
                        titleAttr: 'PDF',
                        className: 'btn btn-danger',
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i>',
                        titleAttr: 'Imprimir',
                        className: 'btn btn-null',
                        orientation: 'landscape'
                    }
                ],
                columns: [
                    {
                        data: 'id_devolucion'
                    },
                    {
                        data: 'id_adquisicion'
                    },
                    {
                        data: 'id_detalle_requisicion'
                    },
                    {
                        data: 'nombreSuministro',
                    },
                    {
                        data: 'cantidad_devuelta',
                        className: 'formattAverages'

                    },
                    {
                        data: 'precio_unitario',
                        className: 'formattMoney',
                        render: $.fn.dataTable.render.number(',', '.', 2)
                    },
                    {
                        data: 'fecha_devolucion'
                    },
                    {
                        data: 'nombre_motivo'
                    },
                    {
                        data: 'motivo_devolucion'
                    },
                    {
                        data: 'nombre_proveedor'
                    },
                    {
                        data: 'total_devolucion',
                        className: 'formattMoney',
                        render: $.fn.dataTable.render.number(',', '.', 2)
                    },
                    {
                        data: 'estado',
                        className: 'text-center',
                        render: function (data, type, row) {
                            var badge = "";
                            if (data == 3) {
                                badge +=
                                    '<span class="badge badge-pill custom-red">DESHABILITADO</span>';
                            } else {
                                badge +=
                                    '<span class="badge badge-pill bg-success">ACTIVO</span>';
                            }

                            return badge;
                        },
                    },
                    {
                        data: null,
                        width: '3%',
                        title: "Acciones",
                        render: function (data, type, row) {
                            if (row.estado == 3) {
                                return `
                            <div class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-danger btn-sm anularDevolucion rounded-pill shadow-sm" title="Cambiar estado Devolucion" data-id="${row.id_devolucion}" data-estado="${row.estado}">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>                                 
                                </div>
                            </div>
                            `;
                            }
                            return `
                            <div class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-warning btn-sm editarDevolucion rounded-pill shadow-sm" title="Editar Devolucion" data-id="${row.id_devolucion}" data-id_adquisicion="${row.id_adquisicion}" data-id_detalle_requisicion="${row.id_detalle_requisicion}" data-suministros="${row.id_suministros}" data-proveedor="${row.id_proveedor}" data-motivo="${row.id_motivo_devolucion}" data-estado="${row.estado}">
                                        <i class="fas fa-edit"></i>
                                    </button>  
                                    <button class="btn btn-danger btn-sm anularDevolucion rounded-pill shadow-sm" title="Cambiar estado Devolucion" data-id="${row.id_devolucion}" data-estado="${row.estado}">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>   
                                </div>
                            </div>
                            `;
                        }
                    }
                ],

            });
        }

        // CAMBIAR ESTADO DE LA DEVOLUCION (DESHABILITAR O ACTIVAR)
        $(document).on('click', '.anularDevolucion', function () {
            id_devolucion = $(this).data('id');
            var estado_actual = $(this).data('estado');

            // Definir mensaje y acción según el estado actual
            var mensaje = estado_actual == 3
                ? '¿Estás seguro de que quieres activar esta devolución?'
                : '¿Estás seguro de que quieres deshabilitar esta devolución?';
            var confirmButtonText = estado_actual == 3
                ? 'Sí, activar'
                : 'Sí, deshabilitar';
            var action = estado_actual == 3
                ? 1  // Activar
                : 3;  // Deshabilitar

            Swal.fire({
                title: estado_actual == 3 ? 'Activar Devolución' : 'Deshabilitar Devolución',
                text: mensaje,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: confirmButtonText,
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "{% url 'actualizar_estado_devolucion' %}", // URL de tu vista
                        type: "POST",
                        data: {
                            id_devolucion: id_devolucion,
                            estado: action,  // El estado que corresponde según la acción (activar o deshabilitar)
                            csrfmiddlewaretoken: csrfToken
                        },
                        success: function (data) {
                            if (data.success) {
                                var mensajeExito = estado_actual == 3
                                    ? 'La devolución ha sido activada.'
                                    : 'La devolución ha sido deshabilitada.';
                                Swal.fire(estado_actual == 3 ? 'Activada!' : 'Deshabilitada!', mensajeExito, 'success');

                                // Actualizar el estado de la devolución en la interfaz
                                var row = $('tr[data-id="' + id_devolucion + '"]');
                                row.find('.estado').html(
                                    estado_actual == 3
                                        ? '<span class="badge badge-pill bg-success">ACTIVO</span>'
                                        : '<span class="badge badge-pill bg-danger">DESHABILITADO</span>'
                                );

                                // Recargar la tabla devoluciones después de actualizar el estado
                                Tabla_Devoluciones.ajax.reload(null, false);
                            } else {
                                Swal.fire('Error!', data.error || 'No se pudo actualizar el estado de la devolución.', 'error');
                            }
                        },
                        error: function () {
                            Swal.fire('Error!', 'Ocurrió un error al intentar cambiar el estado de la devolución.', 'error');
                        }
                    });
                }
            });
        });

        // ------------------------------------------------------------------------------------------------------------------------------- //

        // EDITAR DEVOLUCION
        $(document).on('click', '.editarDevolucion', function () {
            $('#formDevolucion').trigger('reset');

            // Establecer la opción de editar y obtener la fila seleccionada
            filaDevolucion = $(this).closest('tr');
            id_devolucion = $(this).data('id');
            id_adquisicion_numero = $(this).data('id_adquisicion');
            suministro = filaDevolucion.find("td:eq(3)").text();
            id_suministro = $(this).data('suministros');
            cantidadDevuelta = filaDevolucion.find("td:eq(4)").text();
            precioUnitario = filaDevolucion.find("td:eq(5)").text().replace(/,/g, "");
            proveedor = filaDevolucion.find("td:eq(9)").text();
            proveedor_id = $(this).data('proveedor');
            id_detalle_requisicion_numero = $(this).data('id_detalle_requisicion');
            id_motivo_devolucion_seleccionado = $(this).data('motivo');
            motivo = filaDevolucion.find("td:eq(8)").text();

            // Obtener la fecha desde la tabla (que es en formato YYYY-MM-DDTHH:MM:SS)
            var fechaDev = filaDevolucion.find("td:eq(6)").text();  // Asumimos que la fecha está en formato YYYY-MM-DDTHH:MM:SS

            // Verificar que la fecha no esté vacía
            if (fechaDev) {
                // Crear un objeto Date a partir de la fecha (en formato ISO 8601)
                var fechaConvertida = new Date(fechaDev);

                // Comprobar si la fecha se ha convertido correctamente
                if (!isNaN(fechaConvertida)) {
                    // Extraer la fecha en formato YYYY-MM-DD (sin la hora)
                    var fechaFormateada = fechaConvertida.toISOString().split('T')[0]; // Esto obtiene solo la parte YYYY-MM-DD

                    // Asignar la fecha al campo de fecha
                    $('#fecha_devolucion').val(fechaFormateada);
                } else {
                    console.error("La fecha no es válida: " + fechaDev);
                }
            } else {
                console.error("No se ha encontrado una fecha válida.");
            }

            // Asignar los valores a los campos del formulario
            $('#id_adquisicion').val(id_adquisicion_numero);
            $('#Proveedor').val(proveedor);
            $('#id_detalle_requisicion').val(id_detalle_requisicion_numero);
            $('#suministro').val(suministro);
            $('#cantidad_devuelta').val(cantidadDevuelta);
            $('#precio_unitario').val(precioUnitario);
            $('#motivo').val(id_motivo_devolucion_seleccionado).change();
            $('#descripcion').val(motivo);

            // Actualizar el estado del almacén a "Editado" (suponiendo que el estado es 2 para editar)
            cambiar_estado_actual = 2;

            $.ajax({
                url: "{% url 'actualizar_estado_devolucion' %}",  // URL para actualizar el estado a 'Editado'
                type: "POST",
                data: {
                    id_devolucion: id_devolucion,
                    estado: cambiar_estado_actual,  // Estado Editado
                    csrfmiddlewaretoken: csrfToken
                },
                success: function (response) {
                    // Aquí puedes manejar la respuesta, como mostrar un mensaje de éxito
                    console.log("Estado actualizado correctamente");
                },
                error: function (xhr, status, error) {
                    // Aquí puedes manejar errores, como mostrar un mensaje de error
                    console.error("Hubo un problema al actualizar el estado:", error);
                }
            });



            // Mostrar el modal con el título adecuado
            $('#modalDevolucionLabel').text('Editar Devolución #' + id_devolucion);
            $('#modalDevolucion').modal('show');


            // Limpieza del modal al cerrarlo
            $('#modalDevolucion').on('hidden.bs.modal', function () {
                $('#formDevolucion')[0].reset();
                $('#tabla-devolucion').html('');
                $('#calcular-total').prop('disabled', false);
                $('#cantidad_devuelta').prop('disabled', false);
                $('#total_devolucion').text('0.00');
            });


            // Actualizar la tabla de devolución con los datos de la fila
            actualizarFilaDevolucion(id_adquisicion_numero, id_detalle_requisicion_numero, suministro, cantidadDevuelta, precioUnitario);

        });

        // Función para actualizar la fila en la tabla
        function actualizarFilaDevolucion(id_adquisicion_numero, id_detalle_requisicion_numero, suministro, cantidadDevuelta, precioUnitario) {
            // Buscar si la fila ya existe en la tabla
            const tablaDevolucion = $('#tabla-devolucion');
            const filaExistente = tablaDevolucion.find(`tr[data-id-adquisicion="${id_adquisicion_numero}"]`);

            // Si la fila existe, solo la actualizamos
            if (filaExistente.length > 0) {
                filaExistente.find('td:eq(3)').text(cantidadDevuelta);  // Actualizamos la cantidad
                filaExistente.find('td:eq(4)').text(precioUnitario);   // Actualizamos el precio unitario
                filaExistente.find('td:eq(5)').text((parseFloat(cantidadDevuelta) * parseFloat(precioUnitario)).toFixed(2));  // Actualizamos el total
            } else {
                // Si la fila no existe, la agregamos (esto es raro, pero para asegurarnos)
                const totalFila = (parseFloat(cantidadDevuelta) * parseFloat(precioUnitario)).toFixed(2);
                const filaHtml = `
            <tr data-id-adquisicion="${id_adquisicion_numero}">
                <td>${id_adquisicion_numero}</td>
                <td>${id_detalle_requisicion_numero}</td>
                <td>${suministro}</td>
                <td>${cantidadDevuelta}</td>
                <td>${precioUnitario}</td>
                <td>${totalFila}</td>
            </tr>
        `;
                tablaDevolucion.append(filaHtml);
            }

            // Recalcular el total de la devolución
            recalcularTotalDevolucion();
        }

        // Función para recalcular el total de la devolución
        function recalcularTotalDevolucion() {
            let totalDevolucion = 0;
            $('#tabla-devolucion tr').each(function () {
                const total = parseFloat($(this).find('td:eq(5)').text()) || 0;
                totalDevolucion += total;
            });

            // Mostrar el total actualizado
            $('#total_devolucion').text(totalDevolucion.toFixed(2));
        }

        // Al cambiar la cantidad, actualizamos la fila en la tabla
        $(document).on('input', '#cantidad_devuelta', function () {
            var cantidadDevuelta = parseFloat($(this).val()) || 0;
            var precioUnitario = $('#precio_unitario').val();
            var id_adquisicion_numero = $('#id_adquisicion').val();
            var totalFila = (cantidadDevuelta * parseFloat(precioUnitario)).toFixed(2);

            // Actualizamos la fila correspondiente
            actualizarFilaDevolucion(id_adquisicion_numero, $('#id_detalle_requisicion').val(), $('#suministro').val(), cantidadDevuelta, precioUnitario);
        });

        // ------------------------------------------------------------------------------------------------------------------------------- //

        $('#guardarDevolucion').click(function (e) {
            e.preventDefault();

            // Recoger los valores del formulario
            var idAdquisicion = $('#id_adquisicion').val();
            var IDdetalleRequision = $('#id_detalle_requisicion').val();
            var IDProveedor = proveedor_id;
            var suministro_devuelto = id_suministro;
            var cantidad_Devuelta = $('#cantidad_devuelta').val();
            var precio_unitario = $('#precio_unitario').val();
            var fecha_devolucion = $('#fecha_devolucion').val();
            var id_motivoD = $('#motivo').val()
            var motivo_devolucion = $('#descripcion').val();
            var total_devolucion = $('#total_devolucion').text();
            var estado = $('#estado').val() || 1;

            // Validar los campos requeridos
            if (!idAdquisicion || !IDdetalleRequision || !suministro_devuelto || !cantidad_Devuelta || !precio_unitario || !fecha_devolucion || !id_motivoD || !motivo_devolucion || !total_devolucion) {
                alert("Por favor, complete todos los campos requeridos.");
                return;
            }
            // Enviar detalles al servidor
            $.ajax({
                url: "{% url 'insertar_actualizar_devolucion_data' %}",
                type: "POST",
                data: {
                    id_devolucion: id_devolucion,
                    id_adquisicion: idAdquisicion,
                    id_detalle_requisicion: IDdetalleRequision,
                    id_suministros: suministro_devuelto,
                    cantidad_devuelta: cantidad_Devuelta,
                    precio_unitario: precio_unitario,
                    fecha_devolucion: fecha_devolucion,
                    id_motivo_devolucion: id_motivoD,
                    motivo_devolucion: motivo_devolucion,
                    id_proveedor: IDProveedor,
                    total_devolucion: total_devolucion,
                    estado: cambiar_estado_actual,
                    csrfmiddlewaretoken: csrfToken
                },
                success: function (data) {
                    if (data.save == 1) {
                        if (data.existe != 0) {
                            $('#modalDevolucion').modal('hide');

                            toastMixin.fire({
                                animation: true,
                                title: 'Devolución Editada!'
                            });
                        } else {
                            Swal.fire("", "warning");
                        }

                        // Recargar la tabla
                        Tabla_Devoluciones.ajax.reload(null, false);
                    } else {
                        Swal.fire("", "Error D: " + data.error, "error");
                    }
                },
                error: function () {
                    Swal.fire("", "Ocurrió un error al guardar los datos.", "error");
                }
            });
        });

        //-----------------------------------------------------------------------------


        $('#Filtro').change(function (e) {
            e.preventDefault();


            select_estado_devolucion = $("#Filtro").val();
            fillDevoluciones();
        });

        //-----------------------------------------------------------------------------

        // SE UTILIZA PARA OBTENER LOS MOTIVOS PARA LA DEVOLUCION EN EL SELECT 
        $.ajax({
            url: "{% url 'obtener_motivos_devoluciones_data' %}",  // Asegúrate de que la URL sea correcta
            type: "GET",
            dataType: "json",
            success: function (response) {
                // Verificar si se recibieron datos de los métodos de pago
                if (response.motivoD) {
                    // Limpiar el <select> antes de llenarlo
                    $('#motivo').empty();

                    // Agregar una opción por defecto
                    $('#motivo').append('<option value="#">Seleccione un motivo</option>');

                    // Recorrer los datos y agregar las opciones al <select>
                    $.each(response.motivoD, function (index, motivo) {
                        $('#motivo').append(
                            '<option value="' + motivo.id_motivo_devolucion + '">' + motivo.nombre_motivo + '</option>'
                        );
                    });
                    if (id_motivo_devolucion_seleccionado != null) {
                        $('#motivo').val(id_motivo_devolucion_seleccionado).change();
                    }
                } else {
                    console.log('No se encontraron motivos para devolución');
                }
            },
            error: function (xhr, status, error) {
                console.log('Error en la solicitud AJAX:', error);
            }
        });


    });
</script>
{% endblock %}