{% extends 'componentes/menu_contable.html' %}
{% load static %}

{% block title %}
PANTALLA PRINCIPAL
{% endblock %}

{% block body %}

<div class="row align-items-center">
    <div class="col d-flex align-items-center">
        <button id="toggle-sidebar" class="hamburger btnMenu me-3" title="Mostrar/Ocultar Menu">
            <i class="fas fa-bars"></i>
        </button>
        <h3 class="page-title mb-0">PANTALLA PRINCIPAL</h3>
    </div>
</div>

<hr>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var csrfToken = "{{ csrf_token }}";

        var toastMixin = Swal.mixin({
            toast: true,
            icon: 'success',
            title: 'General Title',
            animation: false,
            position: 'top-right',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
        });


    });


</script>
{% endblock %}
