{% extends 'componentes/menu_contable.html' %}
{% load static %}

{% block title %}
TEXT
{% endblock %}


{% block body %}

<div class="row align-items-center border-bottom mb-2 py-1">
    <div class="col d-flex align-items-center">
        <button id="toggle-sidebar" class="btn btn-warning btn-sm me-2 btnMenu" title="Mostrar/Ocultar menú">
            <i class="fas fa-bars"></i>
        </button>
        <h6 class="page-title mb-0 fs-6 fw-bold">TEXT</h6>
    </div>
</div>

<div class="container-fluid mt-1">



</div>


<a href="{% url 'panel_contabilidad' %}">
    <button class="btn btn-sm btn-danger" id="btnCerrar" title="Cerrar"
        style="position: fixed; bottom: 20px; right: 20px;">
        <i class="fa fa-times"></i> Cerrar
    </button>
</a>

{% endblock %}


{% block scripts %}



<script>
    $(document).ready(function () {
        var csrfToken = "{{ csrf_token }}";
        var buttons = "Bfrtlip";

        var monthA = "{{ varMonth }}";
        var varAnio = "{{ varAnio }}";

        var windowSize = $(window).width();

        var cardHeight = $(".card-expanded").height();
        var tableHeight = cardHeight * 0.5;

        let dollarUSLocale = Intl.NumberFormat("en-US", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        });

        let intergerLocale = Intl.NumberFormat("en-US", {
            minimumFractionDigits: 0,
            maximumFractionDigits: 0
        });

        var toastMixin = Swal.mixin({
            toast: true,
            icon: 'success',
            title: 'General Title',
            animation: false,
            position: 'top-right',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
        });

        while (monthA.charAt(0) === '0') {
            monthA = monthA.substring(1);
        }

        $('#mesGastoIngresar').val(monthA).change();

        for (i = new Date().getFullYear() + 1; i >= (new Date().getFullYear() - 5); i--) {
            $('.anio_gasto').append($('<option />').val(i).html(i));
            $('.anio_gasto').val(varAnio).change();
        }


        /*  */
    });
</script>
{% endblock %}