
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(52, 208, 88, 0.4), rgba(0, 123, 255, 0.4));
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
    z-index: -1;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.page-wrapper {
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    margin-top: 20px; /* Ajuste para subir la tarjeta principal */
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    margin: 10px;
}

.icon-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    margin: 10px;
}

.icon-card:hover {
    transform: translateY(-5px);
    background-color: #e0f7fa;
    /* Color de fondo al pasar el mouse */
}

.icon-card:active {
    transform: translateY(-2px);
    background-color: #b2ebf2;
    /* Color de fondo al hacer clic */
}

.material-icons {
    font-size: 48px;
    color: #ff4081;
    /* Color inicial contrastante */
    transition: color 0.3s;
}

.icon-card:hover .material-icons {
    color: #f50057;
    /* Color del icono al pasar el mouse */
}

.icon-card:active .material-icons {
    color: #c51162;
    /* Color del icono al hacer clic */
}

.header {
    padding: 10px 20px;
    background-color: #205c634c;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    /* Asegurarse que esté encima de otros elementos */
    position: relative;
}

.header .user-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.header .user-text h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
}

.header .user-menu .nav-item {
    margin-left: 20px;
    position: relative;
}

.header .user-menu .nav-item .user-img {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    width: 220px;
    padding: 10px;
    z-index: 1000;
    /* Mayor valor para asegurar que esté encima de otros elementos */
    position: absolute;
    top: 90%;
    right: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
    /* Ajuste adicional para subir la tarjeta */
}

.user-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9ecef;
}

.user-header .avatar {
    margin-right: 10px;
}

.user-text h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.user-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-item-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.dropdown-item {
    width: 100%;
    text-align: center;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: rgba(32, 92, 99, 0.3);
    color: #fff;
}

.page-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 768px) {
    .page-title {
        font-size: 24px;
    }
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    .icon-card {
        padding: 15px;
        margin: 5px;
    }

    .material-icons {
        font-size: 36px;
    }
}

@media (max-width: 576px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .icon-card {
        width: 90%;
        margin: 5px 0;
    }
}

.avatar {
    width: 40px;  /* Ajusta el tamaño según sea necesario */
    height: 40px; /* Ajusta el tamaño según sea necesario */
    overflow: hidden;
    border-radius: 50%; /* Para hacer la imagen circular */
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para asegurarse de que la imagen se ajuste correctamente */
}
