<!-- Modal para ver contraseñas -->
<div class="modal fade" id="modalVerContrasena" tabindex="-1" role="dialog" aria-labelledby="modalVerContrasenaLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVerContrasenaLabel">Contraseñas Encontradas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form id="formVerContrasena">
          <div class="mb-3">
            <label for="contrasena" class="form-label">Contraseñas Encontradas:</label>
            <ul id="contrasenas-lista" class="list-group">
            </ul>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
