{% extends 'componentes/menu_contable.html' %}
{% load static %}

{% block title %}
REPORTE GASTOS
{% endblock %}


{% block body %}

<div class="row align-items-center border-bottom mb-2 py-1">
    <div class="col d-flex align-items-center">
        <button id="toggle-sidebar" class="btn btn-warning btn-sm me-2 btnMenu" title="Mostrar/Ocultar menú">
            <i class="fas fa-bars"></i>
        </button>
        <h6 class="page-title mb-0 fs-6 fw-bold">REPORTE GASTOS</h6>
    </div>
</div>

<div class="container-fluid mt-1">

    <div class="row d-flex justify-content-start align-items-end">

        {% include 'control_gestion/content_includes/rango_meses.html' %}

        <div class="col-lg-2">
            <div class="form-group">
                <label for="filterEmpresaTables">Empresa:</label>
                <select id="filterEmpresaTables" class="form-select form-select-sm" name="filterEmpresaTables">
                    <option value="0">TODAS</option>
                    {% for e in empresasData %}
                    <option value="{{ e.id }}">{{ e.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <button type="button" class="btn btn-success btn-sm" id="btnGetProyecciones">Cargar</button>
        </div>

    </div>

    <br>

    <div class="row">
        <div class="row text-center">
            <h5>REPORTE DE GASTOS INGRESADOS</h5>
        </div>
        <div class="row d-flex justify-content-end">
            <span><b>Filtros Rápidos</b></span>
            <div class="mainFilters">
                <div class="row f-flex justify-content-end">
                    <div class="col-sm">
                        <label for="">Centro</label>
                        <input type="text" class="form-control form-control-sm tableMainFilters"
                            id="DR_filterCentroTables" placeholder="Centro">
                    </div>

                    <div class="col-sm">
                        <label for="">Numero Cuenta</label>
                        <input type="text" class="form-control form-control-sm tableMainFilters"
                            id="DR_filterNumCuentaTables" placeholder="Numero Cuenta">
                    </div>

                    <div class="col-sm">
                        <label for="">Cuenta</label>
                        <input type="text" class="form-control form-control-sm tableMainFilters"
                            id="DR_filterCuentaTables" placeholder="Cuenta">
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="table-responsive">
            <table id="tbl_GastosIngresados"
                class="table rounded-4 table-sm table-bordered table-striped align-middle mb-0 table-principal"
                style="width:100%">

                <tfoot class="table-active" style="display: table-header-group;">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>

                <thead class="table-gradient text-dark">
                    <tr>
                        <th class="text-center">ID Presupuesto</th>
                        <th class="text-center">Centro</th>
                        <th class="text-center">Numero Cuenta</th>
                        <th class="text-center">Cuenta</th>
                        <th class="text-center">Fecha Gasto</th>
                        <th class="text-center">Valor Gasto</th>

                        <th class="text-center">Gasto Adicional</th>
                        <th class="text-center">Gasto Adicional Aprobado Por</th>

                        <th class="text-center">Revisado</th>
                        <th class="text-center">Revisado Por</th>
                        <th class="text-center">Ingresado Por</th>

                        <th class="text-center">Mes</th>
                        <th class="text-center">Año</th>


                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="row text-center">
            <h5>REPORTE DE GASTOS PRESUPUESTADOS</h5>
        </div>
        <div class="row d-flex justify-content-end">
            <span><b>Filtros Rápidos</b></span>
            <div class="mainFilters">
                <div class="row f-flex justify-content-end">
                    <div class="col-sm">
                        <label for="">Centro</label>
                        <input type="text" class="form-control form-control-sm tableMainFilters"
                            id="CN_filterCentroTables" placeholder="Centro">
                    </div>

                    <div class="col-sm">
                        <label for="">Numero Cuenta</label>
                        <input type="text" class="form-control form-control-sm tableMainFilters"
                            id="CN_filterNumCuentaTables" placeholder="Numero Cuenta">
                    </div>

                    <div class="col-sm">
                        <label for="">Cuenta</label>
                        <input type="text" class="form-control form-control-sm tableMainFilters"
                            id="CN_filterCuentaTables" placeholder="Cuenta">
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table id="tbl_PresupuestosGastos"
                class="table rounded-4 table-sm table-bordered table-striped align-middle mb-0 table-principal"
                style="width:100%">

                <tfoot class="table-active" style="display: table-header-group;">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>

                <thead class="table-gradient text-dark">
                    <tr>
                        <th class="text-center">ID Presupuesto</th>
                        <th class="text-center">Centro</th>
                        <th class="text-center">Numero Cuenta</th>
                        <th class="text-center">Cuenta</th>

                        <th class="text-center">Presupuesto Proyectado</th>
                        <th class="text-center">Presupuesto Autorizado</th>
                        <th class="text-center">Gasto Total</th>
                        <th class="text-center bg-warning">Disponible</th>
                        <th class="text-center bg-warning">Porc Gastado</th>

                        <th class="text-center">Mes</th>
                        <th class="text-center">Año</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>





</div>


<a href="{% url 'panel_contabilidad' %}">
    <button class="btn btn-sm btn-danger" id="btnCerrar" title="Cerrar"
        style="position: fixed; bottom: 20px; right: 20px;">
        <i class="fa fa-times"></i> Cerrar
    </button>
</a>

{% endblock %}


{% block scripts %}



<script>
    $(document).ready(function () {
        var csrfToken = "{{ csrf_token }}";
        var buttons = "Bfrtlip";

        var monthA = "{{ varMonth }}";
        var varAnio = "{{ varAnio }}";

        var windowSize = $(window).width();

        var cardHeight = $(".card-expanded").height();
        var tableHeight = cardHeight * 0.5;

        let dollarUSLocale = Intl.NumberFormat("en-US", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        });

        let intergerLocale = Intl.NumberFormat("en-US", {
            minimumFractionDigits: 0,
            maximumFractionDigits: 0
        });

        var toastMixin = Swal.mixin({
            toast: true,
            icon: 'success',
            title: 'General Title',
            animation: false,
            position: 'top-right',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
        });

        while (monthA.charAt(0) === '0') {
            monthA = monthA.substring(1);
        }

        $('.mesPresupuesto').val(monthA).change();

        for (i = new Date().getFullYear() + 1; i >= (new Date().getFullYear() - 5); i--) {
            $('.anioPresupuesto').append($('<option />').val(i).html(i));
            $('.anioPresupuesto').val(varAnio).change();
        }

        var tbl_PresupuestosGastos, tbl_GastosIngresados;

        $('#tbl_PresupuestosGastos, #tbl_GastosIngresados').DataTable({
            language: {
                url: "{% static 'app/th/json/es-ES.json' %}",
            },
        });



        $('#btnGetProyecciones').click(function (e) {
            e.preventDefault();

            varMes1 = $('#mesPresupuestoDesde').val();
            varAnio1 = $('#anioPresupuestoDesde').val();

            varMes2 = $('#mesPresupuestoHasta').val();
            varAnio2 = $('#anioPresupuestoHasta').val();

            empresa = $('#filterEmpresaTables').val();

            negocioColumns = [4];

            $("#tbl_PresupuestosGastos").DataTable().clear().destroy();

            tbl_PresupuestosGastos = $('#tbl_PresupuestosGastos').DataTable({
                scrollX: true,
                scrollCollapse: true,
                scrollY: '400px',
                pageLength: 50,
                fixedColumns: {
                    left: 3
                },
                drawCallback: function (settings) {
                    let dollarUSLocale = Intl.NumberFormat("en-US", {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                    });

                    let intergerLocale = Intl.NumberFormat("en-US", {
                        minimumFractionDigits: 0,
                        maximumFractionDigits: 0
                    });

                    var api = this.api();

                    var totalColumn4 = 0;
                    var totalColumn5 = 0;

                    [4, 5, 6].forEach(function (colIndex) {
                        var total = api
                            .column(colIndex, {
                                search: 'applied'
                            })
                            .data()
                            .reduce(function (a, b) {
                                return Number(a) + Number(b);
                            }, 0);

                        if (colIndex === 5) {
                            totalColumn4 = total;
                        } else if (colIndex === 6) {
                            totalColumn5 = total;
                        }

                        var columnFooter = $(api.column(colIndex).footer());
                        columnFooter.html(dollarUSLocale.format(total));
                        columnFooter.css('text-align', 'right');
                    });

                    var diferencia = totalColumn5 - totalColumn4;
                    var columns_diferencia = $(api.column(7).footer());
                    columns_diferencia.html(dollarUSLocale.format(diferencia));
                    columns_diferencia.css('text-align', 'right');

                    var percentage = (totalColumn5 / totalColumn4) * 100 || 0;
                    var columnFooter = $(api.column(8).footer());
                    columnFooter.html(dollarUSLocale.format(percentage) + ' %');
                    columnFooter.css('text-align', 'center');
                },
                language: {
                    url: "{% static 'app/th/json/es-ES.json' %}",
                },
                ajax: {
                    beforeSend: function (xhr, type) {
                        if (!type.crossDomain) {
                            xhr.setRequestHeader(
                                'X-CSRF-Token',
                                $(
                                    'meta[name="csrf-token"]'
                                ).attr('content'));
                        }
                    },
                    url: `{% url 'dataReporteGastosPresupuestos' %}?mes1=${encodeURIComponent(varMes1)}&anio1=${encodeURIComponent(varAnio1)}&mes2=${encodeURIComponent(varMes2)}&anio2=${encodeURIComponent(varAnio2)}&empresa=${encodeURIComponent(empresa)}`,
                },
                dom: buttons,
                buttons: [{
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Excel',
                    className: 'btn btn-success',
                },
                {
                    extend: 'pdf',
                    text: '<i class="fas fa-file-pdf"></i>',
                    titleAttr: 'PDF',
                    className: 'btn btn-danger',
                },
                {
                    text: '<i class="fas fa-copy"></i>',
                    titleAttr: 'Copiar tabla completa con colores',
                    className: 'btn btn-warning',
                    action: function () {
                        var tabla = $('#tbl_PresupuestosGastos').DataTable();
                        tabla.page.len(-1).draw(); // Mostrar todo

                        setTimeout(function () {
                            const seleccion = document.createRange();
                            seleccion.selectNodeContents(document
                                .querySelector('#tbl_PresupuestosGastos'));

                            const sel = window.getSelection();
                            sel.removeAllRanges();
                            sel.addRange(seleccion);

                            document.execCommand("copy");
                            alert(
                                "Tabla copiada con colores. Pega en Excel.");
                        }, 500);
                    }
                },
                {
                    extend: 'print',
                    title: 'GASTOS PRESUPUESTADOS',
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Imprimir',
                    className: 'btn btn-info',
                    footer: true,
                    customize: function (win) {
                        // Asegúrate de que los bordes de las celdas se impriman
                        $(win.document.body).find('table tr th').css('border',
                            '1px solid #ddd');
                        $(win.document.body).find('table tr td').css('border',
                            '1px solid #ddd');

                        // Alinea a la derecha los totales en el pie de página
                        $(win.document.body).find('tfoot th').css('text-align',
                            'right');
                    }
                }
                ],
                columns: [{
                    data: 'id_presupuesto'
                },
                {
                    data: 'nombre_centro'
                },
                {
                    data: 'numero_cuenta'
                },
                {
                    data: 'nombre_cuenta',
                    className: 'rightBorderStyle'
                },


                {
                    data: 'valor_proyectado',
                    className: 'currency',
                    render: $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    data: 'valor_autorizado',
                    className: 'currency',
                    render: $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    data: 'gasto',
                    className: 'currency',
                    render: $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    data: 'presupuesto_disponible',
                    className: 'currency',
                    render: $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    data: 'porc_gastado',
                    className: 'averages rightBorderStyle',
                    render: $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    data: 'mes_nombre'
                },
                {
                    data: 'anio'
                },

                ],
                columnDefs: [{
                    targets: [0],
                    visible: false,
                    searchable: true
                }],
                createdRow: function (row, data) {
                    if (parseFloat(data.presupuesto_disponible) > 0) {
                        $('td', row).eq(6).css({
                            'background-color': 'green',
                            'color': 'white',
                            'border-style': 'solid',
                            'border-color': '#bdbdbd',
                        });
                        $('td', row).eq(7).css({
                            'background-color': 'green',
                            'color': 'white',
                            'border-style': 'solid',
                            'border-color': '#bdbdbd',
                        });
                    } else if (parseFloat(data.presupuesto_disponible) < 0) {
                        $('td', row).eq(6).css({
                            'background-color': 'red',
                            'color': 'white',
                            'border-style': 'solid',
                            'border-color': '#bdbdbd',
                        });
                        $('td', row).eq(7).css({
                            'background-color': 'red',
                            'color': 'white',
                            'border-style': 'solid',
                            'border-color': '#bdbdbd',
                        });
                    } else if (parseFloat(data.presupuesto_disponible) == 0) {
                        $('td', row).eq(6).css({
                            'background-color': 'yellow',
                            'color': 'black',
                            'border-style': 'solid',
                            'border-color': '#bdbdbd',
                        });
                        $('td', row).eq(7).css({
                            'background-color': 'yellow',
                            'color': 'black',
                            'border-style': 'solid',
                            'border-color': '#bdbdbd',
                        });
                    }
                },
            });

            $("#tbl_GastosIngresados").DataTable().clear().destroy();

            tbl_GastosIngresados = $('#tbl_GastosIngresados').DataTable({
                scrollX: true,
                scrollCollapse: true,
                scrollY: '400px',
                pageLength: 50,
                fixedColumns: {
                    left: 3
                },
                drawCallback: function (settings) {
                    let dollarUSLocale = Intl.NumberFormat("en-US", {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                    });

                    let intergerLocale = Intl.NumberFormat("en-US", {
                        minimumFractionDigits: 0,
                        maximumFractionDigits: 0
                    });

                    var api = this.api();

                    var totalColumn5 = 0;
                    var totalColumn6 = 0;

                    [5].forEach(function (colIndex) {
                        var total = api
                            .column(colIndex, {
                                search: 'applied'
                            })
                            .data()
                            .reduce(function (a, b) {
                                return Number(a) + Number(b);
                            }, 0);

                        var columnFooter = $(api.column(colIndex).footer());
                        columnFooter.html(dollarUSLocale.format(total));
                        columnFooter.css('text-align', 'right');
                    });

                },
                language: {
                    url: "{% static 'app/th/json/es-ES.json' %}",
                },
                ajax: {
                    beforeSend: function (xhr, type) {
                        if (!type.crossDomain) {
                            xhr.setRequestHeader(
                                'X-CSRF-Token',
                                $(
                                    'meta[name="csrf-token"]'
                                ).attr('content'));
                        }
                    },
                    url: `{% url 'dataReporteGastosIngresados' %}?mes1=${encodeURIComponent(varMes1)}&anio1=${encodeURIComponent(varAnio1)}&mes2=${encodeURIComponent(varMes2)}&anio2=${encodeURIComponent(varAnio2)}&empresa=${encodeURIComponent(empresa)}`,
                },
                dom: buttons,
                buttons: [{
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Excel',
                    className: 'btn btn-success',
                },
                {
                    extend: 'pdf',
                    text: '<i class="fas fa-file-pdf"></i>',
                    titleAttr: 'PDF',
                    className: 'btn btn-danger',
                },
                {
                    extend: 'print',
                    title: 'GASTOS INGRESADOS',
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Imprimir',
                    className: 'btn btn-info',
                    footer: true,
                    customize: function (win) {
                        // Asegúrate de que los bordes de las celdas se impriman
                        $(win.document.body).find('table tr th').css('border',
                            '1px solid #ddd');
                        $(win.document.body).find('table tr td').css('border',
                            '1px solid #ddd');

                        // Alinea a la derecha los totales en el pie de página
                        $(win.document.body).find('tfoot th').css('text-align',
                            'right');
                    }
                }
                ],
                columns: [{
                    data: 'id_gasto'
                },
                {
                    data: 'nombre_centro'
                },
                {
                    data: 'cuenta_contable'
                },
                {
                    data: 'descripcion_cuenta',
                    className: 'rightBorderStyle'
                },
                {
                    data: 'fecha_gasto'
                },

                {
                    data: 'valor',
                    className: 'currency',
                    render: $.fn.dataTable.render.number(',', '.', 2)
                },


                {
                    data: 'gasto_adicional',
                    className: 'text-center',
                    render: function (data, type, row) {
                        var badge = "";

                        if (data == 1) {
                            badge +=
                                '<span class="badge rounded-pill bg-success">Aplica</span>';
                        } else {
                            badge +=
                                '<span class="badge rounded-pill bg-danger">NO Aplica</span>';
                        }

                        return badge;
                    },
                },
                {
                    data: 'gasto_adicional_aprueba'
                },
                {
                    data: 'revision_gasto',
                    className: 'text-center',
                    render: function (data, type, row) {
                        var badge = "";

                        if (data == 1) {
                            badge +=
                                '<span class="badge rounded-pill bg-success">Revisado</span>';
                        } else {
                            badge +=
                                '<span class="badge rounded-pill bg-danger">Sin Revisar</span>';
                        }

                        return badge;
                    },
                },
                {
                    data: 'revisado_por'
                },
                {
                    data: 'ingresado_por'
                },
                {
                    data: 'mes_nombre'
                },
                {
                    data: 'anio'
                },

                ],
                columnDefs: [{
                    targets: [4],
                    visible: false,
                    searchable: true
                }],
                createdRow: function (row, data) {
                    //  
                }
            });

        });


        $('#CN_filterCentroTables').keyup(function () {
            tbl_PresupuestosGastos.column(1).search(this.value, true, false).draw();
        });
        $('#CN_filterNumCuentaTables').keyup(function () {
            tbl_PresupuestosGastos.column(2).search(this.value, true, false).draw();
        });
        $('#CN_filterCuentaTables').keyup(function () {
            tbl_PresupuestosGastos.column(3).search(this.value, true, false).draw();
        });

        $('#DR_filterCentroTables').keyup(function () {
            tbl_GastosIngresados.column(1).search(this.value, true, false).draw();
        });
        $('#DR_filterNumCuentaTables').keyup(function () {
            tbl_GastosIngresados.column(2).search(this.value, true, false).draw();
        });
        $('#DR_filterCuentaTables').keyup(function () {
            tbl_GastosIngresados.column(3).search(this.value, true, false).draw();
        });





        /*  */
    });
</script>
{% endblock %}