<div class="modal fade" id="modal_centros" tabindex="-1" role="dialog" aria-labelledby="modal_centro_title"
    aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">

        <div class="modal-content">
            <div class="modal-header" id="modal_centro_header">
                <h5 class="modal-title" id="modal_centro_title">CREAR UN NUEVO CENTRO</h5>
                <button type="button" style="background-color: #FFFFFF00; border: 0px;" id="btn_cerrar_centro"
                    class="btn_cerrar_centro"><i class="fas fa-times"></i></button>
            </div>

            <div class="modal-body">
                <form id="form_centro_vaic" method="POST">

                    <div class="row">
                        <span><b>Información del Centro</b></span>

                        <div class="row">

                            <input type="hidden" id="centro_id" name="centro_id">
                            <input type="hidden" id="centro_tipo" name="centro_tipo">
                            <input type="hidden" id="centro_opcion" name="centro_opcion">

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="" class="col-form-label">Nombre:</label>
                                    <input type="text" class="form-control form-control-sm" id="centro_nombre"
                                        name="centro_nombre">
                                </div>
                                <br>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="" class="col-form-label">Responsable:</label>
                                    <select
                                        class="form-select form-select-sm pickedOption filterStyle text-nowrap deptoOpt"
                                        name="responsable_centro" id="responsable_centro">
                                        <option value="#">Seleccione un Responsable</option>
                                        {% for u in usersData %}
                                        <option value="{{ u.PkUsuario }}">{{ u.Nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="" class="col-form-label">Departamento:</label>
                                    <select
                                        class="form-select form-select-sm pickedOption filterStyle text-nowrap deptoOpt"
                                        name="centro_departamento" id="centro_departamento">
                                        <option value="">Seleccione una opción</option>
                                        {% for d in deptosData %}
                                        <option value="{{d.id_departamento}}">{{d.nombre_departamento}} - {{d.nombre_sucursal}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="" class="col-form-label">Cuenta:</label>
                                    <select class="form-select form-select-sm" name="centro_cuenta" id="centro_cuenta">
                                        <option value="#">Seleccione una Cuenta</option>
                                        {% for ca in cuentasData %}
                                        <option value="{{ ca.id_cuenta_analitica }}">
                                            {{ ca.descripcion_cuenta }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="" class="col-form-label">Formato:</label>
                                    <select class="form-select form-select-sm" name="centro_formato"
                                        id="centro_formato">
                                        <option value="0">Seleccione una opción</option>
                                        {% for f in formatoData %}
                                        <option value="{{ f.id_formato }}">{{ f.formato }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="" class="col-form-label">Canal:</label>
                                    <select class="form-select form-select-sm" name="centro_canal" id="centro_canal">
                                        <option value="0">Seleccione una opción</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="" class="col-form-label">Empresa:</label>
                                    <select class="form-select form-select-sm" id="centro_empresa">
                                        <option value="#">Seleccione una Empresa</option>
                                        {% for e in empresasData %}
                                        <option value="{{ e.id }}">{{ e.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="" class="col-form-label" for="">Descripción:</label>
                                    <textarea type="text" class="form-control form-control-sm" id="centro_descripcion"
                                        name="centro_descripcion" rows="5"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br>

                    <br>

                    <div class="modal-footer">
                        <button type="submit" id="btn_save_centro" class="btn btn-primary btnSubmit">Guardar</button>
                        <button type="button" class="btn btn-danger btnDelete btn_cerrar_centro" id="btn_cerrar_centro"
                            data-dismiss="modal">Cancelar</button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>