html, body {
    height: 100vh;
}


body {
    display: flex;
    flex-direction: column;
    background-color: white; /* Color de fondo azul oscuro */
    background-size: cover;
    position: relative;
    color: #333; 
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Elemento decorativo: círculos suaves */
body::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    z-index: -1;
}

body::after {
    content: '';
    position: absolute;
    bottom: 20%;
    right: 15%;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: -1;
}

/* Estilo de la barra de navegación */
.navbar {
    background-color: #444; /* Azul más profundo del gradiente */
    padding: 0.25rem 0.5rem;
}

.navbar-nav .nav-link {
    font-weight: 700;
    font-size: 0.875rem;
    color: white; /* Un gris oscuro para buen contraste */
}

.navbar-toggler {
    padding: 0.25rem 0.5rem;
    color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(51, 51, 51, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-nav .dropdown-menu {
    background-color: #444; /* Azul intermedio del gradiente */
    color: #fff;
}

.navbar-nav .dropdown-item:hover {
    background-color: #444; /* Azul más profundo al pasar el ratón */
    color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f8f9fa;
    text-align: center;
    padding: 0.5rem 0;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: white; /* Azul oscuro */
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    font-weight: 700;

}

.navbar-brand:hover .material-icons::before {
    content: 'arrow_back';
}

.navbar-brand .material-icons {
    cursor: pointer;
    padding-right: 5px;
}
