<!-- Modal para crear un nuevo cargo -->
<div class="modal fade" id="modalCrearEnfermedadesBase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-bs-keyboard="false" data-bs-backdrop="static"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #304458; color:white">
                <h5 class="modal-title" id="exampleModalLabel">Crear Nuevo Enfermedad </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formCrearEnfermedadesBase">
                    <div class="user-text">
                        <input id="creado_por" name="creado_por" type="hidden" value="{{ userName }}">
                    </div>
                    <div class="mb-3">
                        <label for="enfermedad-base">Nombre de la enfermedad:</label>
                        <select id="enfermedad-base" name="enfermedad_base" style="width: 100%;"
                            class="form-control input-underline select2" placeholder="Nivel certificado">
                            <option value=""></option>
                            <option value="new-enfermedad-base">Crear un nueva enfermedad</option>
                            {% for cer in enfermedades %}
                            <option value="{{ cer.0 }}">{{ cer.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit"
                            class="btn btn-success animate__animated animate__pulse animate__slow animate__infinite">Guardar</button>
                        <button type="button" class="btn btn-danger close" data-dismiss="modal">Cerrar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>