<!-- Modal para crear un nuevo cargo -->
<div class="modal fade" id="modalCrearCargoArea" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-bs-keyboard="false" data-bs-backdrop="static"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #304458; color:white">
                <h5 class="modal-title" id="exampleModalLabel">Crear Nuevo Cargo por Area</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formCrearCargosArea" method="POST">
                    <div class="user-text">
                        <input id="creado_por" name="creado_por" type="hidden" value="{{ userName }}">
                    </div>
                    <div class="">
                        <label for="nuevo_cargo_area" class="form-label">Cargo por Area: </label>
                        <select id="nuevo_cargo_area" name="nuevo_cargo_area" class="form-control input-underline select2"
                            style="width: 100%;" placeholder="nuevo_cargo_area">
                            <option value="">Seleccione una opción</option>
                            <option value="new-cargo_area">Crear un cargo por Area</option>
                            {% for cargo in cargos_area %}
                            <option value="{{ cargo.0 }}">{{ cargo.1 }}</option>
                            {% endfor %}
                        </select>
                      
                    </div>
                    <div class="modal-footer">
                        <button type="submit"
                            class="btn btn-success animate__animated animate__pulse animate__slow animate__infinite">Guardar</button>
                        <button type="button" class="btn btn-danger close" data-dismiss="modal">Cerrar</button>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>