<!-- Modal para crear un nuevo cargo -->
<div class="modal fade" id="modalCrearPolizaSeguro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-bs-keyboard="false" data-bs-backdrop="static"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #304458; color:white">
                <h5 class="modal-title" id="exampleModalLabel"><i class="material-icons me-2 text-gray">security</i>

                    Crear Póliza de Seguros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formCrearPolizaSeguro" method="POST">
                    <div class="user-text">
                        <input id="creado_por" name="creado_por" type="hidden" value="{{ userName }}">
                    </div>
                    <div class="mb-3">
                        <label for="nombre-poliza-seguros">Nombre de la póliza de seguros: <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="nombre-poliza-seguros" name="nombre_poliza_seguros">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion-poliza-seguros">Descripción de la póliza de seguros:</label>
                        <input type="text" class="form-control" id="descripcion-poliza-seguros" name="descripcion_poliza_seguros">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success animate__animated animate__pulse animate__slow animate__infinite">Guardar</button>
                        <button type="button" class="btn btn-danger close" data-dismiss="modal">Cerrar</button>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>