<div class="modal fade" id="modalSaldoActual" tabindex="-1" aria-labelledby="modalSaldoActualLabel" aria-hidden="true"
    data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #85cb6b">
                <h5 class="modal-title" id="modalSaldoActualLabel" style="color: #000">SALDO ACTUAL</h5>
                <button type="button" class="btn-close close_modal_crud" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="row p-2">

                    <div class="table-responsive">
                        <table id="saldo_actual_table"
                            class="table rounded-4 table-sm table-bordered table-striped align-middle mb-0 table-principal"
                            style="width:100%">
    
                            <tfoot class="bg-light">
                                <tr>
                                    <th class="text-center"><b>TOTAL: </b></th>
                                    <th class="text-center" id="saldo_total_bodegas"></th>
                                </tr>
                            </tfoot>
    
                            <thead class="bg-light">
                                <tr>
                                    <th class="text-center">Bodega</th>
                                    <th class="text-center">Saldo Actual</th>
                                </tr>
                            </thead>
    
                            <tbody>
    
                            </tbody>
    
                        </table>
                    </div>
    
                </div>



            </div>

        </div>
    </div>
</div>