<div class="modal fade" id="modalHistorial" tabindex="-1" aria-labelledby="modalHistorialLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #697a8a; color: white;">
                <h5 class="modal-title modalHistorialLabel" id="modalHistorialLabel">
                    <i class="material-icons me-2 text-gray"></i><strong></strong>
                </h5>
            </div>
            <div class="modal-body" id="historialSuministro">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover">
                        <thead class="table-dark">
                            <tr class="table-success">
                                <th>Fecha Movimiento</th>
                                <th>Tipo Movimiento</th>
                                <th>Entrada</th>
                                <th>Salida</th>
                                <th>Precio Unitario</th>
                                <th>Total</th>
                                <th>Detalle</th>
                                <th>Creado por</th>
                            </tr>
                        </thead>
                        <tbody id="tabla-movimientos"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><strong>Cerrar</strong></button>
            </div>
        </div>
    </div>
</div>
