{% extends 'componentes/menu_global_security.html' %}
{% load static %}

{% block title %}
ACCIONES DEL USUARIO
{% endblock %}


{% block body %}


<div class="container-fluid mt-1">
    <div class="card shadow-lg card-expanded p-3">

        <div class="row align-items-center justify-content-between">
            <div class="col-auto d-flex align-items-center">
                <button id="toggle-sidebar" class="hamburger btnMenu me-3" title="Mostrar/Ocultar Menu">
                    
                </button>
                <i class="material-icons d-block">person</i>
                <h4 class="page-title mb-0">ACCIONES DEL USUARIO</h4>
            </div>

            <div class="col-auto d-flex">
                <div class="d-flex flex-column align-items-start">
                    <label for="selectModulo" class="fw-bold">Módulos:</label>
                    <select id="selectModulo" class="form-select form-select-sm">
                        {% for m in modulos %}
                        <option value="{{ m.PKmodulo }}">{{ m.Nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-3">
                <label class="fw-bold">Colaboradores</label>
                <div class="table-responsive shadow bg-blanco" style="max-height: 400px;">
                    <table id="tableModulosUsuario"
                        class="table table-striped table-bordered mb-0 rounded-4 table-hover align-middle tabla-ajustada">
                        <thead class="bg-blanco text-dark">
                            <tr>
                                <th>Nombres</th>
                                <th>Usuario</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <label class="fw-bold">Acciones Asignadas</label>
                <div class="table-responsive shadow bg-blanco" style="max-height: 400px;">
                    <table id="tableAccionesAsigna"
                        class="table table-striped table-bordered mb-0 rounded-4 table-hover align-middle tabla-ajustada">
                        <thead class="table-success text-dark">
                            <tr>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-success text-dark"></tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-1 d-flex flex-column align-items-center my-4">
                <button id="BtnAgregar" class="btn btn-success btn-sm mb-2" style="width: 50px; height: 50px;">
                    <i class="large material-icons">arrow_back</i>
                </button>
                <button id="BtnQuitar" class="btn btn-danger btn-sm mb-2" style="width: 50px; height: 50px;">
                    <i class="large material-icons">arrow_forward</i>
                </button>
            </div>

            <div class="col-lg-4">
                <label class="fw-bold">Acciones Disponibles</label>
                <div class="table-responsive shadow bg-blanco" style="max-height: 400px;">
                    <table id="tableAccionesDisponibles"
                        class="table table-striped table-bordered mb-0 rounded-4 table-hover align-middle tabla-ajustada">
                        <thead class="table-danger text-dark">
                            <tr>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-danger text-dark"></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


<a href="{% url 'global_main' %}">
    <button class="btn btn-sm btn-danger" id="btnCerrar" title="Cerrar"
        style="position: fixed; bottom: 20px; right: 20px;">
        <i class="fa fa-times"></i> Cerrar
    </button>
</a>

{% endblock %}



{% block scripts %}
<script>
    $(document).ready(function () {

        var csrfToken = "{{ csrf_token }}";
        var tableFirmas, firma_id;

        var toastMixin = Swal.mixin({
            toast: true,
            icon: 'success',
            title: 'General Title',
            animation: false,
            position: 'top-right',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
        });

        /* MENU ID Y SUBMENU ID */
        $('#usuariosMenu, #gruposUsuario_submenu').addClass('active');

        selectedUsuarioId = null;
        selectedAccionDisponibleId = null;
        selectedAccionAsignadoId = null;
        id_modulo = null

        $('#selectModulo').change(function (e) {
            e.preventDefault();

            id_modulo = $(this).val();
            getAccionesDisponibles(selectedUsuarioId, id_modulo);
            getAccionesAsignados(selectedUsuarioId, id_modulo);
        });



        function getAccionesDisponibles(usuarioSeleccionado, moduloSeleccionado) {

            $("#tableAccionesDisponibles").DataTable().clear().destroy();

            var cardHeight = $(".card-expanded").height();
            var tableHeight = cardHeight * 0.5;

            tableAccionesDisponibles = $('#tableAccionesDisponibles').DataTable({
                autoWidth: false,
                scrollX: true,
                scrollY: tableHeight + 'px',
                scrollCollapse: true,
                pageLength: 50,
                dom: 'rftip',
                language: {
                    url: "{% static 'app/th/json/es-ES.json' %}",
                },
                ajax: {
                    url: `{% url 'data_acciones_disponibles' %}`,
                    type: "POST",
                    dataSrc: 'data',
                    data: {
                        varUsuario: usuarioSeleccionado,
                        varModulo: moduloSeleccionado,
                        csrfmiddlewaretoken: csrfToken
                    },
                },
                colReorder: {
                    realtime: false,
                },
                buttons: [
                    {
                        extend: 'excel',
                        text: '<i class="fas fa-file-excel"></i>',
                        titleAttr: 'Exportar a Excel',
                        className: 'btn btn-success',
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fas fa-file-pdf"></i>',
                        titleAttr: 'Exportar a PDF',
                        className: 'btn btn-danger',
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i>',
                        titleAttr: 'Imprimir',
                        className: 'btn btn-primary',
                        orientation: 'landscape'
                    }
                ],
                columns: [
                    {
                        data: 'Nombres',
                    },
                ],
                order: [[0, "asc"]],
            });

        }

        $('#tableAccionesDisponibles tbody').on('click', 'tr', function () {
            $('#tableAccionesDisponibles tbody tr').removeClass('selected');

            $(this).addClass('selected');

            selectedAccionDisponibleId = tableAccionesDisponibles.row(this).data().fkAccion;
        });


        function getAccionesAsignados(usuarioSeleccionado, moduloSeleccionado) {

            $("#tableAccionesAsigna").DataTable().clear().destroy();

            var cardHeight = $(".card-expanded").height();
            var tableHeight = cardHeight * 0.5;
            tableAccionesAsigna = $('#tableAccionesAsigna').DataTable({
                autoWidth: false,
                scrollX: true,
                scrollY: tableHeight + 'px',
                scrollCollapse: true,
                pageLength: 50,
                dom: 'rftip',
                language: {
                    url: "{% static 'app/th/json/es-ES.json' %}",
                },
                ajax: {
                    url: `{% url 'data_acciones_asignadas' %}`,
                    type: "POST",
                    dataSrc: 'data',
                    data: {
                        varUsuario: usuarioSeleccionado,
                        varModulo: moduloSeleccionado,
                        csrfmiddlewaretoken: csrfToken
                    },
                },
                colReorder: {
                    realtime: false,
                },
                buttons: [
                    {
                        extend: 'excel',
                        text: '<i class="fas fa-file-excel"></i>',
                        titleAttr: 'Exportar a Excel',
                        className: 'btn btn-success',
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fas fa-file-pdf"></i>',
                        titleAttr: 'Exportar a PDF',
                        className: 'btn btn-danger',
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i>',
                        titleAttr: 'Imprimir',
                        className: 'btn btn-primary',
                        orientation: 'landscape'
                    }
                ],
                columns: [
                    {
                        data: 'Nombres',
                    },

                ],
                order: [[0, "asc"]],
            });

        }


        $('#tableAccionesAsigna tbody').on('click', 'tr', function () {
            $('#tableAccionesAsigna tbody tr').removeClass('selected');

            $(this).addClass('selected');

            selectedAccionAsignadoId = tableAccionesAsigna.row(this).data().fkAccion;
        });

        getUsuarios()

        function getUsuarios() {

            $("#tableModulosUsuario").DataTable().clear().destroy();

            var cardHeight = $(".card-expanded").height();
            var tableHeight = cardHeight * 0.5;

            tableModulosUsuario = $('#tableModulosUsuario').DataTable({
                autoWidth: false,
                scrollX: true,
                scrollY: tableHeight + 'px',
                scrollCollapse: true,
                pageLength: 50,
                dom: 'rftip',
                language: {
                    url: "{% static 'app/th/json/es-ES.json' %}",
                },
                ajax: {
                    url: `{% url 'data_usuarios' %}`,
                    type: "POST",
                    dataSrc: 'data',
                    data: {
                        csrfmiddlewaretoken: csrfToken
                    },
                },
                colReorder: {
                    realtime: false,
                },
                buttons: [
                    {
                        extend: 'excel',
                        text: '<i class="fas fa-file-excel"></i>',
                        titleAttr: 'Exportar a Excel',
                        className: 'btn btn-success',
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fas fa-file-pdf"></i>',
                        titleAttr: 'Exportar a PDF',
                        className: 'btn btn-danger',
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i>',
                        titleAttr: 'Imprimir',
                        className: 'btn btn-primary',
                        orientation: 'landscape'
                    }
                ],
                columns: [
                    {
                        data: 'Nombre',
                    },
                    {
                        data: 'Usuario',
                    },

                ],
                order: [[1, "asc"]]
            });
        }

        $('#tableModulosUsuario tbody').on('click', 'tr', function () {
            $('#tableModulosUsuario tbody tr').removeClass('selected');

            $(this).addClass('selected');

            selectedUsuarioId = tableModulosUsuario.row(this).data().PKUsuario;
            id_modulo = $("#selectModulo").val();

            getAccionesDisponibles(selectedUsuarioId, id_modulo);
            getAccionesAsignados(selectedUsuarioId, id_modulo);
        });

        $('#BtnAgregar').on('click', function () {
            asignarAccion();
        });
        $('#BtnQuitar').on('click', function () {
            quitarAccion();
        });

        function asignarAccion() {
            let usuario_id = selectedUsuarioId;
            let accion_id = selectedAccionDisponibleId;
            // Validar que se haya seleccionado un modulo
            if (!selectedAccionDisponibleId) {
                alert("Por favor, seleccione un Acción DISPONIBLE.");
                return;  // Detener la ejecución si no hay módulo seleccionado
            }
            $.post("{% url 'asignar_accion' %}", {
                usuario_id: usuario_id,
                accion_id: accion_id,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            }, function (response) {
                if (response.status === "success") {
                    toastMixin.fire({
                        icon: 'success',
                        title: 'Acción agregada correctamente.'
                    });
                    getAccionesDisponibles(selectedUsuarioId, id_modulo);
                    getAccionesAsignados(selectedUsuarioId, id_modulo);
                } else {
                    alert(response.message);
                }
            });
        }

        function quitarAccion() {
            let usuario_id = selectedUsuarioId;
            let accion_id = selectedAccionAsignadoId;
            // Validar que se haya seleccionado un modulo
            if (!selectedAccionAsignadoId) {
                alert("Por favor, seleccione una Acción ASIGNADA.");
                return;  // Detener la ejecución si no hay módulo seleccionado
            }
            $.post("{% url 'quitar_accion' %}", {
                usuario_id: usuario_id,
                accion_id: accion_id,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            }, function (response) {
                if (response.status === "success") {
                    toastMixin.fire({
                        icon: 'success',
                        title: 'Acción quitada correctamente.'
                    });
                    getAccionesDisponibles(selectedUsuarioId, id_modulo);
                    getAccionesAsignados(selectedUsuarioId, id_modulo);
                } else {
                    alert(response.message);
                }
            });
        }

    });

</script>

{% endblock %}