{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Distribucion</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .card {
      margin-bottom: 20px;
      /* Espacio entre tarjetas */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      /* Sombra para efecto flotante */
      transition: 0.3s;
      /* Transición suave para efecto hover */
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      /* Sombra más pronunciada al pasar el mouse */
    }
  </style>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    crossorigin="anonymous">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/2.0.2/css/searchPanes.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/select/1.4.0/css/select.bootstrap5.min.css">
  <link rel="stylesheet" href="https://nightly.datatables.net/fixedcolumns/css/fixedColumns.dataTables.min.css">
  <link rel="stylesheet" href="https://nightly.datatables.net/fixedheader/css/fixedHeader.dataTables.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Chosen CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
  <style>
    @keyframes pulse {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.05);
        /* Escala un poco menos que antes */
      }

      100% {
        transform: scale(1);
      }
    }

    .btn-pulse {
      animation: pulse 3s infinite;
      /* Animación más lenta */
    }
  </style>


</head>

<body>
  <div class="container mt-3">
    <!-- Sección Superior -->
    <div class="row">
      <!-- Tarjeta para la Tabla de Registros con Checkbox (2/3 de la pantalla) -->
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h4>Consolidados</h4>
            <div class="table-responsive tabla-contenedor">
              <table id="tabla_consolidados"
                class="table table-sm table-striped align-middle mb-0 bg-white table-basic custom-table"
                style="width:100%">
                <thead>
                  <tr>
                    <th>Id_Consolidado</th>
                    <th>Total</th>
                    <th>Peso_total</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Tarjeta para Detalles Consolidados (1/3 de la pantalla) -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4>Detalles consolidado</h4>
            <form>
              <div class="row">
                <div class="col-6">
                  <label for="nombre">Peso total:</label>
                  <input type="text" class="form-control" id="peso_total" readonly>
                </div>
                <div class="col-6">
                  <label for="detalles">Cant. Facturas:</label>
                  <input type="text" class="form-control" id="cantidad_facturas" readonly>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <label for="cantidad_clientes">Cant. Clientes:</label>
                  <input type="text" class="form-control" id="cantidad_clientes" readonly>
                </div>
                <div class="col-6">
                  <label for="cantidad_productos">Cant. Productos:</label>
                  <input type="text" class="form-control" id="cantidad_productos" readonly>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <label for="volumen">Volumen:</label>
                  <input type="text" class="form-control" id="volumen" readonly>
                </div>
                <div class="col-6">
                  <label for="utilidad">Utilidad:</label>
                  <input type="text" class="form-control" id="utilidad" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="rentabilidad">Rentabilidad:</label>
                <input type="text" class="form-control" id="rentabilidad" readonly>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4>Información Adicional</h4>
            <form>
              <div class="row">
                <!-- Fecha -->
                <div class="col-6 col-md-2">
                  <label for="fecha">Fecha:</label>
                  <input type="datetime-local" class="form-control" id="fecha">
                </div>

                <!-- Chosen Vehículo -->
                <div class="col-6 col-md-2">
                  <label for="vehiculo">Vehículo:</label>
                  <select class="form-control form-control-lg" id="id_vehiculo">
                    <!-- Opciones del vehículo aquí -->
                  </select>
                </div>

                <!-- Chosen Combustible -->
                <div class="col-6 col-md-2">
                  <label for="gasolina">Combustible:</label>
                  <select class="form-control form-control-lg" id="id_combustible">
                    <!-- Opciones de combustible aquí -->
                  </select>
                </div>

                <div class="col-6 col-md-2">
                  <label for="destino">Origen:</label>
                  <button type="button" class="btn btn-olive btn-block" id="btnAgregarOrigen" data-bs-toggle="modal"
                    data-bs-target="#modal_agregar_origen">Agregar Origen</button>
                </div>

                <div class="col-6 col-md-2">
                  <label for="destino">Destinos:</label>
                  <button type="button" class="btn btn-olive btn-block" id="btnAgregarRuta" data-bs-toggle="modal"
                    data-bs-target="#modal_agregar_destinos">Agregar
                    Destinos</button>
                </div>

                <div class="col-6 col-md-2">
                  <label for="ruta">Tripulantes:</label>
                  <button type="button" class="btn btn-olive btn-block" id="btnAgregarTripulantes"
                    data-bs-toggle="modal" data-bs-target="#modal_agregar_tripulantes">Agregar
                    Tripulantes</button>
                </div>
              </div>

          </div>
          <div class="row">

          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal_agregar_destinos" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_agregar_destinos">Agregar
            Destinos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center align-items-center">
            <select id="listaDisponible_dt" multiple style="width: 300px; height: 250px;"></select>

            <div class="listbox-actions d-flex flex-column">
              <button type="button" class="btn btn-primary mb-2"
                onclick="moverSeleccionados('listaDisponible_dt', 'listaSeleccionados_dt')">
                &gt; </button>
              <button type="button" class="btn btn-primary"
                onclick="moverSeleccionados('listaSeleccionados_dt', 'listaDisponible_dt')">
                &lt; </button>
            </div>

            <select id="listaSeleccionados_dt" multiple style="width: 300px; height: 250px;"></select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal_agregar_tripulantes" tabindex="-1" aria-labelledby="miModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_agregar_tripulantes">Agregar
            Tripulantes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center align-items-center">
            <select id="listaDisponible_tp" multiple style="width: 300px; height: 250px;"></select>

            <div class="listbox-actions d-flex flex-column">
              <button type="button" class="btn btn-primary mb-2"
                onclick="moverSeleccionados('listaDisponible_tp', 'listaSeleccionados_tp')">
                &gt; </button>
              <button type="button" class="btn btn-primary"
                onclick="moverSeleccionados('listaSeleccionados_tp', 'listaDisponible_tp')">
                &lt; </button>
            </div>

            <select id="listaSeleccionados_tp" multiple style="width: 300px; height: 250px;"></select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal_agregar_origen" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_agregar_origen">AGREGAR ORIGEN</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center align-items-center">
            <!-- Lista 1 -->
            <div class="chosen-container" style="width: 300px;">
              <select id="lista1" multiple class="chosen-select" style="width: 100%;">
                <!-- Opciones de la lista 1 -->
                <option value="1">Opción 1</option>
                <option value="2">Opción 2</option>
                <option value="3">Opción 3</option>
              </select>
            </div>

            <!-- Lista 2 -->
            <div class="chosen-container" style="width: 300px;">
              <select id="lista2" multiple class="chosen-select" style="width: 100%;">
                <!-- Opciones de la lista 2 -->
                <option value="4">Opción 4</option>
                <option value="5">Opción 5</option>
                <option value="6">Opción 6</option>
              </select>
            </div>

            <!-- Lista 3 -->
            <div class="chosen-container" style="width: 300px;">
              <select id="lista3" multiple class="chosen-select" style="width: 100%;">
                <!-- Opciones de la lista 3 -->
                <option value="7">Opción 7</option>
                <option value="8">Opción 8</option>
                <option value="9">Opción 9</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- JavaScript (jQuery para simplificar) y Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function () {
      $('#tabla_consolidados').DataTable({
        // Personaliza tu inicialización de DataTables aquí
      });
      $('#id_destino').chosen();

    });
    ///////////////////////////////LISTAS///////////////////////
    function moverSeleccionados(origenId, destinoId) {
      var origen = document.getElementById(origenId);
      var destino = document.getElementById(destinoId);

      while (origen.selectedOptions.length) {
        destino.appendChild(origen.selectedOptions[0]);
      }
    }

    function obtenerValoresSeleccionados() {
      var seleccionados = [];
      $('#listaSeleccionados_dt option').each(function () {
        seleccionados.push($(this).val());
      });
      return seleccionados;
    }

    function obtenerValoresSeleccionados_tripulantes() {
      var seleccionados = [];
      $('#listaSeleccionados_tp option').each(function () {
        seleccionados.push($(this).val());
      });
      return seleccionados;
    }

  </script>
  <script>

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    $(document).ready(function () {
      $('#modal_agregar_tripulantes').on('shown.bs.modal', function (e) {
        // Encuentra todos los fondos de modal y reduce su opacidad excepto el último
        $('.modal-backdrop').not(':last').css('opacity', 0.5);
      });

      $('#modal_agregar_tripulantes').on('hidden.bs.modal', function (e) {
        // Restaura la opacidad cuando el modal se cierra
        $('.modal-backdrop').css('opacity', '');
      });

      $('#modal_agregar_tripulantes').find('.btn-close').click(function () {
        $('#modal_agregar_tripulantes').modal('hide');
      });

      //////////////////////////////////////////////////////////TABLA CONSOLIDADOS////////////////////////////////////////////////////
      if ($.fn.DataTable.isDataTable('#tabla_consolidados')) {
        $('#tabla_consolidados').DataTable().destroy();
      }
      var table = $('#tabla_consolidados').DataTable({
        pageLength: 5,

        initComplete: function () {
          //
        },
        ajax: {
          beforeSend: function (xhr, type) {
            if (!type.crossDomain) {
              xhr.setRequestHeader(
                'X-CSRF-Token',
                $(
                  'meta[name="csrf-token"]'
                ).attr('content'));
            }
          },
          url: 'procesar_consolidados/',
          dataSrc: 'data'
        },
        dom: "prtliB",
        buttons: [{
          extend: 'excel',
          text: '<i class="fas fa-file-excel"></i>',
          titleAttr: 'Excel',
          className: 'btn btn-success',
        },
        {
          extend: 'pdf',
          text: '<i class="fas fa-file-pdf"></i>',
          titleAttr: 'PDF',
          className: 'btn btn-danger',
        },
        {
          extend: 'print',
          text: '<i class="fas fa-print"></i>',
          titleAttr: 'Imprimir',
          className: 'btn btn-null',
        }
        ],
        language: {
          url: "//cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json",
        },
        columns: [
          {
            data: 'id_consolidado',
          },
          {
            data: 'total_suma',
            render: $.fn.dataTable.render.number(',', '.', 2)
          },
          {
            data: 'cantidad_vendida_peso_suma',
            render: $.fn.dataTable.render.number(',', '.', 2)
          },
          {
            data: 'id',
            render: function (data, type, row) {
              // Retorna un checkbox con el valor del id
              return '<input type="checkbox" class="checkbox-consolidado" name="id[]" value="' + data + '">';
            },
            orderable: false
          }
        ],

        // Callback para cada fila creada
        'rowCallback': function (row, data) {
          // Asigna los datos de la fila al nodo TR para su uso posterior
          $(row).data('data', data);
        },

      });
      let estadoTotales = {
        total_suma: 0,
        costo_suma: 0,
        cantidad_vendida_peso_suma: 0,
        cantidad_total_productos_suma: 0,
        cantidad_facturas: 0,
        cantidad_clientes: 0,
      };

      function calcularUtilidad(total_suma, costo_suma) {
        return (total_suma - costo_suma);
      }

      function calcularRentabilidad(total_suma, costo_suma) {
        if (costo_suma === 0) {
          return 0; // Evita la división por cero
        }
        return ((total_suma - costo_suma) / costo_suma) * 100;
      }

      function obtenerConsolidadosSeleccionados() {
        let consolidadosSeleccionados = [];
        $('input.checkbox-consolidado:checked').each(function () {
          let rowData = $(this).closest('tr').data('data');
          consolidadosSeleccionados.push(rowData.id_consolidado);
        });
        return consolidadosSeleccionados;
      }


      function actualizarValores(data, agregar) {
        let multiplicador = agregar ? 1 : -1;

        // Actualiza los totales sumando o restando
        estadoTotales.total_suma += multiplicador * data.total_suma;
        estadoTotales.costo_suma += multiplicador * data.costo_suma;
        estadoTotales.cantidad_vendida_peso_suma += multiplicador * data.cantidad_vendida_peso_suma;
        estadoTotales.cantidad_total_productos_suma += multiplicador * data.cantidad_total_productos_suma;
        estadoTotales.cantidad_facturas += multiplicador * data.cantidad_facturas;
        estadoTotales.cantidad_clientes += multiplicador * data.cantidad_clientes;

        if ($('input.checkbox-consolidado:checked').length === 0) {
          restablecerTotales();
        } else {
          // Calcula la utilidad y la rentabilidad con los nuevos totales
          let utilidad = calcularUtilidad(estadoTotales.total_suma, estadoTotales.costo_suma);
          let rentabilidad = calcularRentabilidad(estadoTotales.total_suma, estadoTotales.costo_suma);

          // Actualiza los campos en el formulario
          $('#peso_total').val(estadoTotales.cantidad_vendida_peso_suma.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }));
          $('#cantidad_facturas').val(estadoTotales.cantidad_facturas.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }));
          $('#cantidad_clientes').val(estadoTotales.cantidad_clientes.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }));
          $('#cantidad_productos').val(estadoTotales.cantidad_total_productos_suma.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }));
          $('#volumen').val(estadoTotales.total_suma.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }));
          $('#utilidad').val(utilidad.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }));
          $('#rentabilidad').val(rentabilidad.toFixed(2));
        }
        cargarVehiculosConCapacidadSuficiente();
      }


      function restablecerTotales() {
        estadoTotales = {
          total_suma: 0,
          costo_suma: 0,
          cantidad_vendida_peso_suma: 0,
          cantidad_total_productos_suma: 0,
          cantidad_facturas: 0,
          cantidad_clientes: 0,
        };
        cargarVehiculosConCapacidadSuficiente();
        // Actualiza los campos en la interfaz de usuario con valores en cero
        $('#peso_total').val('0.00');
        $('#cantidad_facturas').val('0.00');
        $('#cantidad_clientes').val('0.00');
        $('#cantidad_productos').val('0.00');
        $('#volumen').val('0.00');
        $('#utilidad').val('0.00');
        $('#rentabilidad').val('0.00');
      }

      ///////////////////////////////////////////////////////////FUNCIONES//////////////////////////////////////////////////////////////
      $('#tabla_consolidados tbody').on('change', 'input.checkbox-consolidado', function () {
        const row = $(this).closest('tr');
        const data = row.data('data');
        const isChecked = $(this).is(':checked');

        // Actualiza los totales y la UI basándote en si el checkbox está marcado o no
        actualizarValores(data, isChecked);

        // Actualiza el estado de selección de la fila
        if (isChecked) {
          row.addClass('selected');
        } else {
          row.removeClass('selected');
        }
      });
      $('#id_combustible').chosen({ width: '100%' });
      $('#id_vehiculo').chosen({ width: '100%' });
      $(".chosen-select").chosen({ width: "100%" });

      function getFormattedDate() {
        const fecha = new Date($('#fecha').val());
        let day = fecha.getDate();
        let month = fecha.getMonth() + 1; // getMonth() devuelve un índice basado en cero
        const year = fecha.getFullYear();

        // Asegurarse de que el día y el mes sean de dos dígitos
        day = (day < 10) ? '0' + day : day;
        month = (month < 10) ? '0' + month : month;

        return `${day}/${month}/${year}`;
      }

      $('#btnPrueba').click(function (e) {
        console.log('click');
        $('#modalDjangoContent').modal("hide");
      });

      $('#fecha').on('change', function () {
        event.preventDefault();  // Evitar que el navegador realice la acción predeterminada.
        event.stopPropagation();
        const fechaFormateada = getFormattedDate();
        cargarTripulantesConLicenciaValida(fechaFormateada);
      });

      $.ajax({
        url: "combustibles/obtener_combustibles",
        method: 'GET',
        dataType: 'json',
        success: function (data) {
          var select = $('#id_combustible');
          select.empty(); // Limpia las opciones existentes

          data.data.forEach(function (item) {
            select.append($('<option>', {
              value: item.id_combustible,
              text: item.nombre_combustible
            }));
            select.trigger(
              "chosen:updated"
            );
          });
        },
        error: function (xhr, status, error) {
          console.error("Error al cargar datos: ", status, error);
        }
      });

      function cargarVehiculosConCapacidadSuficiente() {
        const pesoTotalFormatted = $('#peso_total').val() || '0';
        const pesoTotal = pesoTotalFormatted.replace(/,/g, '').replace(',', '');
        $.ajax({
          url: "vehiculos/obtener_vehiculos",
          method: 'GET',
          data: {
            peso_total: pesoTotal  // Enviar el peso total como parámetro
          },
          dataType: 'json',
          success: function (data) {
            var select = $('#id_vehiculo');
            select.empty(); // Limpia las opciones existentes

            data.data.forEach(function (item) {
              select.append($('<option>', {
                value: item.id_vehiculo,
                text: item.nombre_vehiculo
              }));
            });
            select.trigger("chosen:updated");
          },
          error: function (xhr, status, error) {
            console.error("Error al cargar datos: ", status, error);
          }
        });
      }

      $.ajax({
        url: "destinos/obtener_destinos",
        method: 'GET',
        dataType: 'json',
        success: function (response) {
          var selectDisponible = $('#listaDisponible_dt');
          selectDisponible.empty(); // Limpia las opciones existentes

          // Iterar sobre 'data' dentro del objeto 'response'
          response.data.forEach(function (item) {
            selectDisponible.append($('<option>', {
              value: item.id_destino,
              text: item.nombre_destino
            }));
          });

          // Si estás utilizando el plugin 'chosen' para este select
          if (selectDisponible.hasClass("chosen-select")) {
            selectDisponible.trigger("chosen:updated");
          }
        },
        error: function (xhr, status, error) {
          console.error("Error al cargar datos: ", status, error);
        }
      });

      $.ajax({
        url: "tripulantes/obtener_tripulantes",
        method: 'GET',
        dataType: 'json',
        success: function (data) {
          var select = $('#listaDisponible_tp');  // Asegúrate de que este es el ID correcto para tu select de tripulantes
          select.empty(); // Limpia las opciones existentes

          data.data.forEach(function (item) {
            select.append($('<option>', {
              value: item.id_tripulante,
              text: item.nombre_tripulante
            }));
          });
          select.trigger("chosen:updated"); // O el método correspondiente para actualizar tu select
        },
        error: function (xhr, status, error) {
          console.error("Error al cargar datos: ", status, error);
        }
      });
      function cargarTripulantesConLicenciaValida(fechaViaje) {
        $.ajax({
          url: "tripulantes/obtener_tripulantes",
          method: 'GET',
          data: {
            fecha_viaje: fechaViaje  // Enviar la fecha del viaje como parámetro
          },
          dataType: 'json',
          success: function (data) {
            var select = $('#listaDisponible_tp');  // Asegúrate de que este es el ID correcto para tu select de tripulantes
            select.empty(); // Limpia las opciones existentes

            data.data.forEach(function (item) {
              select.append($('<option>', {
                value: item.id_tripulante,
                text: item.nombre_tripulante
              }));
            });
            select.trigger("chosen:updated"); // O el método correspondiente para actualizar tu select
          },
          error: function (xhr, status, error) {
            console.error("Error al cargar datos: ", status, error);
          }
        });
      }
      
      function convertDecimalValues(data) {
        const decimalKeys = ['peso_total', 'cantidad_facturas', 'cantidad_clientes', 'cantidad_productos', 'volumen', 'utilidad', 'rentabilidad'];

        decimalKeys.forEach(key => {
          if (data[key] && typeof data[key] === 'string') {
            data[key] = data[key].replace(/,/g, '');
          }
        });

        return data;
      }

      $('#btnGuardarProgramacion').off('click').on('click', function (event) {
        event.preventDefault(); // Evita el envío normal del formulario
        var datosSeleccionados = obtenerValoresSeleccionados();
        var tripulantesSeleccionados = obtenerValoresSeleccionados_tripulantes();
        var consolidadosSeleccionados = obtenerConsolidadosSeleccionados();

        console.log(datosSeleccionados);
        console.log(tripulantesSeleccionados);
        console.log(consolidadosSeleccionados);

        var datos = {
          peso_total: $('#peso_total').val(),
          cantidad_facturas: $('#cantidad_facturas').val(),
          cantidad_clientes: $('#cantidad_clientes').val(),
          cantidad_productos: $('#cantidad_productos').val(),
          volumen: $('#volumen').val(),
          utilidad: $('#utilidad').val(),
          rentabilidad: $('#rentabilidad').val(),
          fecha: $('#fecha').val(),
          id_vehiculo: $('#id_vehiculo').val(),
          id_combustible: $('#id_combustible').val(),
          listaSeleccionados: datosSeleccionados,
          listaTripulantesSeleccionados: tripulantesSeleccionados,
          listaConsolidados: consolidadosSeleccionados
        };

        datos = convertDecimalValues(datos);

        $.ajax({
          type: 'POST',
          url: 'programaciones/insertar_programacion',
          contentType: 'application/json',
          data: JSON.stringify(datos),
          success: function (response) {
            console.log(response);
            Swal.fire("", "Entrega registrada exitosamente", "success");
          },
          error: function (xhr, status, error) {
            console.error(error);
            Swal.fire("", "Error al guardar la entrega: " + error
              .responseText,
              "error");
          }
        });
      });
    });


  </script>

  <style>
    .selected {
      background-color: #D2E4FC;
      /* Color azul claro, cambia según tus preferencias */
    }
  </style>
  <!-- jQuery (necesario para Bootstrap y DataTables) -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <!-- Popper.js (necesario para Bootstrap) -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    crossorigin="anonymous"></script>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <!-- Font Awesome para iconos -->
  <script src="https://kit.fontawesome.com/e716b78aa6.js" crossorigin="anonymous"></script>

  <!-- SweetAlert para alertas bonitas -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <!-- DataTables y sus plugins -->
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/searchpanes/2.0.2/js/dataTables.searchPanes.min.js"></script>
  <script src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>
  <script src="https://cdn.datatables.net/searchpanes/2.0.2/js/searchPanes.bootstrap5.min.js"></script>
  <script src="https://nightly.datatables.net/fixedcolumns/js/dataTables.fixedColumns.min.js"></script>
  <script src="https://nightly.datatables.net/fixedheader/js/dataTables.fixedHeader.min.js"></script>

  <!-- Otros plugins y scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/js/tableexport.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.6.0/dist/autoNumeric.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
</body>

</html>