<div class="modal fade" id="modalEditarMenu" tabindex="-1" role="dialog" aria-labelledby="modalEditarMenuLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarMenuLabel">Editar Grupo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form id="formEditarMenu">
            <div class="mb-3">
              <label for="Nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="Nombre" required>
            </div>
            <div class="mb-3">
              <label for="Boton" class="form-label">Boton</label>
              <input type="text" class="form-control" id="Boton" required>
            </div>
            <div class="mb-3">
              <label for="Pagina" class="form-label">Pagina</label>
              <input type="text" class="form-control" id="Pagina" required>
            </div>
            <div class="mb-3">
              <label for="Grupo" class="form-label">Grupo</label>
              <input type="text" class="form-control" id="Grupo" required>
            </div>
            <div class="mb-3">
              <label for="Posicion" class="form-label">Posicion</label>
              <input type="text" class="form-control" id="Posicion" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="guardarMenuEditado">Guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>