@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --navbar-color: #1e2a38;
  --main-color: #bf6040;
  --body-color: #f4f5f7;

  --primary-color: #4a90e2;
  --secondary-color: #8e44ad;

  --success-color: #27ae60;
  --danger-color: #e94e77;
  --warning-color: #f5a623;
  --disabled-color: #7d7d7d;
  --highlight-color: #fdeb71;

  --table1-color: #a4d5d7;
  --table2-color: #e9bfa7;
  --table3-color: #d1c1e2;
  --table4-color: #f7cc92;
  --table5-color: #aedff2;

  --background-color: #1e2a38;

  --black-color: #151111;
  --hover-color: #4a90e2;
  --green-color: #27ae60;
  --link-navbar: #f4f5f7;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--black-color);
}

body {
  margin: 0 0 55px 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--body-color);
}

.shadow-lg {
  background-color: #370d021f;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}

.navbar {
  background-color: var(--navbar-color);
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--link-navbar);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav-link:hover {
  background-color: var(--hover-color);
  color: #eeeeee;
}

.nav__icon {
  font-size: 25px;
}

@media (max-width: 550px) {
  .nav__link {
    margin: 5%;
  }
}

.hoverCentroIndirecto:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in-out;
}

.btnSubmit {
  background: var(--main-color);
  color: #fff;
  border: none;
}

.btnEdit {
  background: #977900;
  color: #fff;
  border: none;
}

.btnView {
  background: #005b7c !important;
  color: #fff !important;
  border: none !important;
}

.btnSuccess,
.btnTicket,
.btnPresupuesto {
  background: #007c17 !important;
  color: #fff !important;
  border: none;
}

.btnBack {
  background: var(--main-color);
  color: #fff;
  border: none;
}

.btnOverride {
  background: #8a0000;
  color: #fff;
  border: none;
}

.btn:hover {
  background: #000000;
  transform: scale(1.075);
  color: #fff;
  transition: 0.3s ease-in-out;
}

.btn-success {
  background: var(--main-color);
  color: #fff;
  border: none;
}

.clicked {
  background: var(--green-color);
  color: #fff;
  border: none;
}

.button-success {
  background: var(--green-color) !important;
  color: #fff;
  border: none;
}

.button-success:active {
  background: var(--green-color);
  color: #fff;
  border: none;
}

.button-success::after {
  background: var(--green-color);
  color: #fff;
  border: none;
}

.button-success:hover {
  background: var(--green-color);
  color: #fff;
  border: none;
}

.button-success::before {
  background: var(--green-color);
  color: #fff;
  border: none;
}

input:read-only,
textarea:read-only {
  background-color: rgba(176, 176, 176, 0.141);
}

.tableLinks {
  color: #000000;
  text-decoration: none;
}

.badge {
  font-size: 1.1em;
  font-weight: 600;
}

.badge:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in-out;
}

.badge-info {
  background-color: #1c7991;
}

.badge-success {
  background-color: var(--green-color);
}

.badge-danger {
  background-color: #740000;
}

.badge-logistica {
  background-color: #5e5e5e;
}

.badge-orange {
  background-color: #de7c04;
}

.badge-premium {
  background-color: #ecc902;
}

.badge-pink {
  background-color: #c50083;
}

.badge-warning {
  background-color: var(--main-color);
}

.badge-null {
  background-color: var(--main-color);
}

.badge-process {
  background-color: #0046e8;
}

.badge-ventas {
  background-color: #175200;
}

.badge-cabanias {
  background-color: #58452a;
}

.badge-idc {
  background-color: #1bc2c2;
}

.badge-compras {
  background-color: #c0b023;
}

.badge-admin {
  background-color: #0b0258;
}

.badge-logistica {
  background-color: #5e5e5e;
}

.badge-super {
  background-color: #4ad669;
}

.badge-hocares {
  background-color: #fffd83;
}

.badge-rrhh {
  background-color: #d35555;
}

.badge-auditoria {
  background-color: #888787;
}

.badge-it {
  background-color: #106366;
}

.badge-bodeguita {
  background-color: #545728;
}

.badge-empresa {
  background-color: #ff0000;
}





.badge-yellow {
  background-color: #fff128;
}

.badge-purple {
  background-color: #7c3d76;
}

.badge-disabled {
  background-color: #545454;
  color: #fff;
}

.badge-distribuidora {
  background-color: #47703334;
  color: #000;
}

.badge-supermercado {
  background-color: #3a717734;
  color: #000;
}

.badge-totales {
  background-color: #54408037;
  color: #000;
}

.badge-over {
  background-color: #333f9c;
  color: #fff;
}

td:nth-child(1) {
  font-weight: 800;
}

table {
  font-size: 12px;
}

.filterControl {
  font-size: 12px;
}

.form-control,
.form-control-sm {
  font-size: 12px;
}

.diaSemana {
  text-align: right;
}

.numSemana {
  text-align: center;
}

.currency {
  text-align: right;
}

.averages {
  text-align: center;
}

thead,
tbody,
tr,
td {
  border: 1px solid #00000060;
  border-collapse: collapse;
}

/* TABLE PRINCIPAL STRIPPED COLOR */
.table-principal tr:nth-child(even) {
  background-color: #0f5ae545;
}

.table-principal tr:nth-child(odd) {
  background-color: #e55e0f18;
}

/* TABLE DETAILS STRIPPED COLOR */
.table-details tr:nth-child(even) {
  background-color: #e5880f45;
}

.table-details tr:nth-child(odd) {
  background-color: #2f0fe518;
}

/* TABLE TOTALES STRIPPED COLOR */
.table-totales tr:nth-child(even) {
  background-color: #e2113e3b;
}

.table-totales tr:nth-child(odd) {
  background-color: #10631018;
}

/* TABLE BASIC STRIPPED COLOR */
.table-basic tr:nth-child(even) {
  background-color: #bee9e9;
}

.table-basic tr:nth-child(odd) {
  background-color: #ffffff;
}

.table tr:hover {
  background-color: #00000051;
  color: #000000;
}

.btn-primary {
  background: var(--main-color);
  color: #fff;
  border: none;
}

.btn-yellow {
  background: var(--highlight-color);
  border: none;
}

.btn-secondary {
  background: var(--green-color);
  color: #fff;
  border: none;
}

.btn-add {
  background: #00137c;
  color: #fff;
  border: none;
}

.btn-danger {
  background: #7c0000;
  color: #fff;
  border: none;
}

.btn-null {
  background: var(--main-color);
  color: #fff;
  border: none;
}

.btn-purple {
  background: #6f025e;
  color: #fff;
  border: none;
}

.btn-disabled {
  background: #575757;
  color: #fff;
  border: none;
}

.btn-red {
  background: #900000;
  color: #fff;
  border: none;
}

.bg-null {
  background: var(--main-color);
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  border-radius: 5%;
  -moz-border-radius: 15px;
}

.rentabilidad {
  width: 2.5%;
}

.rentabilidad-black {
  font-weight: 800;
  width: 2.5%;
}

.tableText {
  width: 15%;
}

.tableSoli {
  width: 15%;
}

.tableDate {
  width: 10%;
}

#porcentaje_superv {
  width: auto;
  font-weight: 600;
}

.reportesText {
  font-size: 14px;
}

.filterStyle {
  font-size: 12px;
}

#btnGetDistribucionAPP,
#btnGetSupuestaVenta,
#btnGetAnalisis {
  margin: auto;
  height: 30px;
}

.boldText {
  font-weight: 600;
}

.boldText2 {
  font-weight: 900;
}

.leftBorderStyle {
  border-left: 4px solid black !important;
}

.rightBorderStyle {
  border-right: 4px solid black !important;
}

.actualSection {
  background-color: #fde57a4b !important;
}

.promSection {
  background-color: #7a9bfd4b !important;
}

/* 
  * TABLE COLOR SECTIONS 
*/
.tableSection1 {
  background-color: #f88c2e4b !important;
}

.tableSection2 {
  background-color: #fdf27a4b !important;
}

.tableSection3 {
  background-color: #83fd7a4b !important;
}

.tableSection4 {
  background-color: #7afdeb4b !important;
}

.tableSection5 {
  background-color: #7a80fd4b !important;
}

.tableSection6 {
  background-color: #fd7aee4b !important;
}

.tableSection7 {
  background-color: #fd7a7a4b !important;
}

.centerRow {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.mini__section {
  margin: 1%;
  padding: 20px;
  box-shadow: rgba(17, 17, 26, 0.186) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  width: 145px;
  height: 85px;
  border-radius: 5%;
}

.mini__section_width {
  margin: 1%;
  padding: 20px;
  box-shadow: rgba(17, 17, 26, 0.186) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  width: 150px;
  height: 85px;
  border-radius: 5%;
}

.mini__section span {
  letter-spacing: 0.1em;
}

.mini__section:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in-out;
}

.mini_titles {
  font-weight: 500;
  margin: auto;
}

.card1 {
  background-color: #eaff7182;
}

.card2 {
  background-color: #ff717181;
}

.card3 {
  background-color: #71e3ff75;
}

.card4 {
  background-color: #7fff7184;
}

.card5 {
  background-color: #ffa57180;
}

.card6 {
  background-color: #ff71d77f;
}

.card7 {
  background-color: #d771ff7d;
}

.card8 {
  background-color: #8971ff7e;
}

.disponibilidadProgramarOption {
  background-color: #fff;
  width: 20px;
  height: 20px;
}

#loading-screen {
  background-color: rgba(25, 25, 25, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  margin-top: 0;
  top: 0;
  text-align: center;
}

#loading-screen img {
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: -50px;
  margin-left: -50px;
  top: 50%;
}

.db-icon {
  font-size: 20px;
  width: 5px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}

.dashboardConteoCards {
  width: 150px !important;
}

.dashboardConteoCardsWider {
  width: 170px !important;
}

.dashboardConteoCards:hover {
  transform: scale(1.05);
}

.dashboardConteoCardsWider:hover {
  transform: scale(1.05);
}

.dashIcon {
  width: 45px;
  height: 45px;
}

.titleDashCard {
  font-size: 13px;
}

.subtitleDashCard {
  font-size: 11px;
}

/* 
  * ======================================================================================
 */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.fixed-scroll {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  background: #fff;
}

.small-custom-fixed-column {
  min-width: 80px !important;
  width: 80px !important;
  max-width: 80px !important;
}

.custom-fixed-column {
  min-width: 80px !important;
  width: 80px !important;
  max-width: 80px !important;
}

.large-custom-fixed-column {
  min-width: 140px !important;
  width: 140px !important;
  max-width: 140px !important;
}

.dataTables_scrollHead,
.dataTables_scrollBody {
  box-sizing: content-box !important;
}

.dataTables_scrollHead,
.dataTables_scrollBody {
  padding: 0 !important;
  margin: 0 !important;
}

.create__buttons {
  margin-top: 30px;
}

.colored-pasillo {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

.vertical-pasillo {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.horizontal-pasillo {
  background-color: #ccc;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.floor {
  position: relative;
  width: 500px;
  /* Ajusta el ancho del contenedor del piso según tus necesidades */
  height: 500px;
  /* Ajusta la altura del contenedor del piso según tus necesidades */
  background-color: #f5f5f5;
  /* Color del piso del supermercado */
}

.line-horizontal,
.line-vertical {
  position: absolute;
  background-color: #000;
  /* Color de las líneas de los pasillos */
}

.line-horizontal {
  width: 100%;
  height: 2px;
  /* Ajusta el grosor de las líneas horizontales según tus necesidades */
  top: 50%;
  transform: translateY(-50%);
}

.line-vertical {
  width: 2px;
  /* Ajusta el grosor de las líneas verticales según tus necesidades */
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper {
  max-height: auto;
  border: 1px solid #ddd;
  display: flex;
  overflow-x: auto;
  padding: 1%;
}

.wrapper .item {
  min-width: 380px;
  height: 255px;
  background-color: #ddd;
  margin-right: 2%;
}

.anaquel-style {
  background-color: aqua;
}

.congelador-style {
  background-color: rgb(119, 230, 178);
}

.skew-block {
  padding: 5px;
  width: 99%;
}

.skew-ventas {
  background-color: #17520018;
}

.skew-cabanias {
  background-color: #58452a1c;
}

.skew-idc {
  background-color: #1bc2c218;
}

.skew-compras {
  background-color: #c0b02317;
}

.skew-admin {
  background-color: #0b025810;
}

.skew-logistica {
  background-color: #5e5e5e17;
}

.skew-super {
  background-color: #4ad6681a;
}

.skew-hocares {
  background-color: #fffb0013;
}

.skew-rrhh {
  background-color: #d3555515;
}

.skew-auditoria {
  background-color: #88878715;
}

.skew-it {
  background-color: #10636611;
}

.skew-bodeguita {
  background-color: #54572811;
}

.skew-empresa {
  background-color: #ff000011;
}

.formattedMoneyInputs {
  text-align: right;
}


.redComision {
  background-color: red;
  color: white;
  border-style: solid;
  border-color: #bdbdbd;
}

.yellowComision {
  background-color: yellow;
  color: black;
  border-style: solid;
  border-color: #bdbdbd;
}

.greenComision {
  background-color: green;
  color: white;
  border-style: solid;
  border-color: #bdbdbd;
}

.bg-green {
  background-color: green;
  color: #fff;
}

.bg-yellow {
  background-color: yellow;
  color: #000;
}

.bg-red {
  background-color: red;
  color: #fff;
}

tfoot th,
tfoot td {
  text-align: right;
  padding-right: 10px;
  /* Ajusta el padding para que coincida con las celdas del cuerpo de la tabla */
}

/* Ajuste manual del ancho de columnas fijas y desplazables */
.fixedColumns {
  .DTFC_LeftBodyLiner {
    overflow: hidden;
  }

  .DTFC_LeftHeadWrapper,
  .DTFC_LeftFootWrapper {
    width: auto !important;
    /* Ajusta esto según sea necesario */
  }
}

/* Ajustar el ancho de las columnas de desplazamiento */
.dataTables_scrollBody {

  th,
  td {
    white-space: nowrap;
    /* Asegura que el contenido de la celda no se envuelva y cause distorsiones */
  }
}